.navbar {
    background-image: none;
    background-color: var(--colorPrimary40, #2fa4e7);
    border-bottom: none;
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorCalm40, #033c73);
    border: none
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorCalm40, #033c73);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColorPrimary40, #ffffff);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--colorSuccess40, #18bc9c);
    background-color: transparent;
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover{
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #2c3e50);;
}

.dropdown-menu {
    color: var(--textColor30, #81878e);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor30, #81878e);
}