.panel {
    background-color: var(--backgroundColor40, #ffffff);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    border: 0;
}

/* Default */
.panel-default .panel-heading,
.panel-default .panel-footer {
    color: var(--textColor70, #383838);
    background-color: var(--colorDefault50, #dfdfdf);
}

/* Primary */

.panel-primary>.panel-heading,
.panel-primary>.panel-footer {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #2196f3);
}

/* Sucess */

.panel-success>.panel-heading,
.panel-success>.panel-footer {
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess40, #4caf50);
}

/* Info */
.panel-info>.panel-heading,
.panel-info>.panel-footer {
    color: var(--textColorCalm40, #ffffff);
    background-color: var(--colorCalm40, #9c27b0);
}

/* Warning */
.panel-warning>.panel-heading,
.panel-warning>.panel-footer {
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning40, #ff9800);
}

/* Danger */
.panel-danger>.panel-heading,
.panel-danger>.panel-footer {
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger40, #e51c23);
}

/* Light */
.panel-light>.panel-heading,
.panel-light>.panel-footer {
    color: var(--textColorLight30, #3c3c3c);
    background-color: var(--colorLight40, #ffffff);
}