.panel {
    background-color: var(--colorDefault70, #2f2f2f);
    color: var(--textColor10, #e2e2e2);
    box-shadow: none;
}

/* Default */
.panel-default .panel-heading,
.panel-default .panel-footer {
    color: var(--textColor10, #e2e2e2);
    background-color: var(--colorDefault40, #555555);
    border-color: transparent
}

.panel-default {
    border-color: var(--colorDefault40, #555555);
}

/* Primary */

.panel-primary>.panel-heading,
.panel-primary>.panel-footer {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #2780e3);
    border-color: transparent
}

.panel-primary {
    border-color: var(--colorPrimary40, #2780e3);
}

/* Sucess */

.panel-success>.panel-heading,
.panel-success>.panel-footer {
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess40, #3fb618);
    border-color: transparent
}

.panel-success {
    border-color: var(--colorSuccess40, #3fb618);
}

/* Info */
.panel-info>.panel-heading,
.panel-info>.panel-footer {
    color: var(--textColorCalm40, #ffffff);
    background-color: var(--colorCalm40, #11c1f3);
    border-color: transparent
}

.panel-info {
    border-color: var(--colorCalm40, #11c1f3);
}

/* Warning */
.panel-warning>.panel-heading,
.panel-warning>.panel-footer {
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning40, #ff7518);
    border-color: transparent
}

.panel-warning {
    border-color: var(--colorWarning40, #ff7518);
}

/* Danger */
.panel-danger>.panel-heading,
.panel-danger>.panel-footer {
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger40, #ff0039);
    border-color: transparent
}

.panel-danger {
    border-color: var(--colorDanger40, #ff0039);
}

/* Light */
.panel-light>.panel-heading,
.panel-light>.panel-footer {
    color: var(--textColorLight40, #333333);
    background-color: var(--colorLight40, #dfdfdf);
    border-color: transparent
}

.panel-light {
    border-color: var(--colorLight40, #dfdfdf);
}