.btn {
    background-color: var(--colorDefault40, #f5f5f5);
    text-align: center;
    color: var(--textColorDefault40, #444444);
    border: 1px solid;
}

.btn:focus:hover,
.k-button:focus:hover {
    box-shadow: none;
}

/* Default */
.btn.btn-default {
    background-image: linear-gradient(var(--colorDefault40, #3a3f44), var(--colorDefault40, #3a3f44) 60%, var(--colorDefault50, #33373c));
    border-color: var(--colorDefault70, #202325);
    color: var(--textColorDefault40, #ffffff);
}

.btn.btn-default:focus,
.btn.btn-default:hover,
.btn.btn-default.active,
.btn.btn-default:active {
    background-image: none;
    box-shadow: none;
    background-color: var(--colorDefault70, #202325);
    border-color: var(--colorDefault70, #202325);
    color: var(--textColorDefault40, #ffffff);
}


/* Primary */
.btn.btn-primary {
    background-image: linear-gradient(var(--colorPrimary40, #7a8288), var(--colorPrimary40, #7a8288) 60%, var(--colorPrimary50, #6b7277));
    border-color: var(--colorPrimary70, #43474a);
    color: var(--textColorPrimary40, #ffffff);
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary.active,
.btn.btn-primary:active {
    background-image: linear-gradient(var(--colorPrimary60, #595f64), var(--colorPrimary60, #595f64) 40%, var(--colorPrimary50, #6b7277));
    box-shadow: none;
    border-color: var(--colorPrimary70, #43474a);
    color: var(--textColorPrimary40, #ffffff);
}


/* Success */
.btn.btn-success {
    background-image: linear-gradient(var(--colorSuccess40, #62c462), var(--colorSuccess40, #62c462) 60%, var(--colorSuccess50, #56ac56));
    border-color: var(--colorSuccess70, #366b36);
    color: var(--textColorSuccess40, #ffffff);
}

.btn.btn-success:focus,
.btn.btn-success:hover,
.btn.btn-success.active,
.btn.btn-success:active {
    background-image: linear-gradient(var(--colorSuccess60, #489048), var(--colorSuccess60, #489048) 40%, var(--colorSuccess50, #56ac56));
    box-shadow: none;
    border-color: var(--colorSuccess70, #366b36);
    color: var(--textColorSuccess40, #ffffff);
}


/* Warning */
.btn.btn-warning {
    background-image: linear-gradient(var(--colorWarning40, #f89406), var(--colorWarning40, #f89406) 60%, var(--colorWarning50, #d98205));
    border-color: var(--colorWarning70, #885103);
    color: var(--textColorWarning40, #ffffff);
}

.btn.btn-warning:focus,
.btn.btn-warning:hover,
.btn.btn-warning.active,
.btn.btn-warning:active {
    background-image: linear-gradient(var(--colorWarning60, #b66c04), var(--colorWarning60, #b66c04) 40%, var(--colorWarning50, #d98205));
    box-shadow: none;
    border-color: var(--colorWarning70, #885103);
    color: var(--textColorWarning40, #ffffff);
}

/* Danger */
.btn.btn-danger {
    background-image: linear-gradient(var(--colorDanger40, #ee5f5b), var(--colorDanger40, #ee5f5b) 60%, var(--colorDanger50, #d05350));
    border-color: var(--colorDanger70, #823432);
    color: var(--textColorDanger40, #ffffff);
}

.btn.btn-danger:focus,
.btn.btn-danger:hover,
.btn.btn-danger.active,
.btn.btn-danger:active {
    background-image: linear-gradient(var(--colorDanger60, #ae4643), var(--colorDanger60, #ae4643) 40%, var(--colorDanger50, #d05350));
    box-shadow: none;
    border-color: var(--colorDanger70, #823432);
    color: var(--textColorDanger40, #ffffff);
}

/* Info */
.btn.btn-info {
    background-image: linear-gradient(var(--colorCalm40, #5bc0de), var(--colorCalm40, #5bc0de) 60%, var(--colorCalm50, #50a8c2));
    border-color: var(--colorCalm70, #32697a);
    color: var(--textColorCalm40, #ffffff);
}

.btn.btn-info:focus,
.btn.btn-info:hover,
.btn.btn-info.active,
.btn.btn-info:active {
    background-image: linear-gradient(var(--colorCalm60, #438da3), var(--colorCalm60, #438da3) 40%, var(--colorCalm50, #50a8c2));
    box-shadow: none;
    border-color: var(--colorCalm70, #32697a);
    color: var(--textColorCalm40, #ffffff);
}

/* Light */
.btn.btn-light {
    background-image: linear-gradient(var(--colorLight40, #e9ecef), var(--colorLight40, #e9ecef) 60%, var(--colorLight50, #cccfd1));
    border-color: var(--colorLight70, #808183);
    color: var(--textColorLight40, #7b7b7b);
}

.btn.btn-light:focus,
.btn.btn-light:hover,
.btn.btn-light.active,
.btn.btn-light:active {
    background-image: linear-gradient(var(--colorLight60, #abadaf), var(--colorLight60, #abadaf) 40%, var(--colorLight50, #cccfd1));
    box-shadow: none;
    border-color: var(--colorLight70, #808183);
    color: var(--textColorLight40, #7b7b7b);
}

/* Link */
.btn.btn-link,
div#view-canvas .btn.btn-link {
    background-image: none;
    background-color: transparent;
    border: none;
}

.btn.btn-link i,
.btn.btn-link span {
    color: var(--textColorDefault40, #ffffff);
}

.btn.btn-link:focus,
.btn.btn-link:hover {
    color: var(--textColorDefault40, #ffffff);
    text-decoration: underline;
    background-color: transparent;
}

.btn.btn-link:focus i,
.btn.btn-link:hover i {
    text-decoration: none;
}