.navbar {
    background-image: linear-gradient(var(--colorDefault40, #3a3f44), var(--colorDefault40, #3a3f44) 60%, var(--colorDefault50, #33373c));
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.crn-navigator-vertical .navbar {
    border-right: 1px solid rgba(0, 0, 0, 0.6);
}

.navbar-inverse {
    background-image: linear-gradient(var(--colorPrimary40, #7a8288), var(--colorPrimary40, #7a8288) 60%, var(--colorPrimary50, #6b7277));
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorPrimary40, #7a8288);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColorDefault40, #ffffff);
    font-size: var(--textNormalSize, 14px);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--textColorDefault40, #ffffff);
    background-color: var(--backgroundColor60, #1d2023);
}

.dropdown-menu {
    color: var(--textColor40, #aaaaaa);
    background-color: var(--backgroundColor40, #272b30);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor40, #aaaaaa);
}