.panel {
    background-color: var(--backgroundColor40, #ffffff);
    box-shadow: none;
    border: 1px solid var(--colorDefault70, #fafafa);
}

.panel-heading,
.panel-footer {
    border: 0;
    border-bottom: 1px solid;
}

/* Default */
.panel-default .panel-heading,
.panel-default .panel-footer {
    color: var(--textColorDefault40, #ffffff);
    background-color: var(--colorDefault40, #3a3f44);
    border-color: var(--colorDefault70, #202325);
}

/* Primary */
.panel-primary .panel-heading,
.panel-primary .panel-footer {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #7a8288);
    border-color: var(--colorPrimary70, #43474a);
}

/* Success */
.panel-success .panel-heading,
.panel-success .panel-footer {
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess40, #73a839);
    border-color: var(--colorSuccess70, #202325);
}


/* Info */
.panel-info .panel-heading,
.panel-info .panel-footer {
    color: var(--textColorCalm40, #ffffff);
    background-color: var(--colorCalm40, #5bc0de);
    border-color: var(--colorInfo70, #32697a);
}

/* Warning */
.panel-warning .panel-heading,
.panel-warning .panel-footer {
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning40, #f89406);
    border-color: var(--colorWarning70, #885103);
}

/* Danger */
.panel-danger .panel-heading,
.panel-danger .panel-footer {
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger40, #ee5f5b);
    border-color: var(--colorDanger70, #823432);
}

/* Light */
.panel-light .panel-heading,
.panel-light .panel-footer {
    color: var(--textColorLight40, #444444);
    background-color: var(--colorLight40, #e9ecef);
    border-color: var(--colorLight70, #000000);
}