.btn {
    text-align: center;
    border-radius: 9999px;
    padding: 14px 22px 13px;
    background-color: var(--colorDefault40, #1e293b);
    color: var(--textColorDefault40, #ffffff);
    border: 0;
    text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    background-image: none;
}

.btn.active,
.btn:active,
.btn:focus,
.btn:hover,
.btn:focus:hover,
.k-button:focus:hover {
    box-shadow: none;
    background-image: none;
    border-color: transparent;
}

/* Default */
.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    color: var(--textColorDefault40, #ffffff);
    background-color: var(--colorDefault30, #7e8086);
}

/* Primary */
.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary30, #8d8aeb);
}

/* Success */
.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover {
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess30, #7fd494);
}

/* Warning */
.btn.btn-warning.active,
.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning30, #f7b97c);
}

/* Danger */
.btn.btn-danger.active,
.btn.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger30, #f38989);
}

/* Info */
.btn.btn-info {
    background-color: var(--colorLight40, #ffffff);
    border: 1px solid var(--textColor20, #d7d7d7);
    color: var(--textColor40, #383838);
}

.btn.btn-info.active,
.btn.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:hover {
    color: var(--textColor40, #383838);
    background-color: var(--colorLight50, #dfdfdf);
}

/* Light */
.btn.btn-light {
    background-color: var(--colorLight50, #dfdfdf);
    color: var(--textColor40, #383838);
}

.btn.btn-light.active,
.btn.btn-light:active,
.btn.btn-light:focus,
.btn.btn-light:hover {
    color: var(--textColor40, #383838);
    background-color: var(--colorLight60, #bbbbbb);
}

/* Link */
.btn.btn-link {
    background-image: none;
    background-color: transparent;
    border: none;
}

.btn.btn-link i,
.btn.btn-link span {
    color: var(--colorPrimary40, #4f46e5);
}

.btn.btn-link.active,
.btn.btn-link:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.btn.btn-link.disabled,
.btn.btn-link[disabled]:hover {
    color: var(--colorPrimary40, #4f46e5);
}

.btn.btn-link:focus,
.btn.btn-link:hover {
    color: var(--colorPrimary40, #4f46e5);
    text-decoration: underline;
    background-color: transparent;
}

.btn.btn-link:focus i,
.btn.btn-link:hover i {
    text-decoration: none;
}