.navbar {
    background-image: none;
    background-color: var(--colorDefault40, #4e5d6c);
    border-bottom: none;
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorPrimary40, #df691a);
    border: none
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorPrimary40, #df691a);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColor40, #ebebeb);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorDefault50, #44515f);
}