.panel {
    border: none;
    border-radius: 0;
    background-color: var(--colorDefault40);
    box-shadow: none;
}

.panel-footer,
.panel-heading {
    border: none;
    border-radius: 0;
}

/* Default */
.panel-default .panel-heading,
.panel-footer {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorDefault50, #44515f);
}

/* Primary */

.panel-primary>.panel-heading {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorPrimary40, #df691a);
}

/* Sucess */

.panel-success>.panel-heading {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorSuccess40, #5cb85c);
}


/* Info */
.panel-info>.panel-heading {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorCalm40, #5bc0de);
}

/* Warning */
.panel-warning>.panel-heading {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorWarning40, #f0ad4e);
}

/* Danger */
.panel-danger>.panel-heading {
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorDanger40, #d9534f);
}

/* Light */
.panel-light>.panel-heading {
    color: var(--textColorLight40, #444444);
    background-color: var(--colorLight40, #abb6c2);
}