.ctn-tab .nav-tabs li.active a,
.ctn-tab .nav-tabs li.active a:hover {
    color: var(--textColor40, #ebebeb);
    cursor: default;
    background-color: transparent;
    border: none;
}

.ctn-tab .nav-tabs li.active {
    border-radius: 0;
    border: 1px solid var(--colorDefault40, #8d949b);
    border-bottom: none;
}

.ctn-tab .nav-tabs li a,
.ctn-tab .nav-tabs {
    border: none;
    color: var(--textColor40, #ebebeb);
}

.ctn-tab .nav-tabs li a:hover{
    text-decoration: none;
    color: var(--textColor40, #ebebeb);
    background-color: var(--colorDefault40, #4e5d6c);
}