<div class="ctn-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#tab1-${RANDOM}" role="tab" data-toggle="tab"
        data-container="true">First Tab</a></li>
    <li role="presentation"><a data-target="#tab2-${RANDOM}" role="tab" data-toggle="tab" data-container="true">Second Tab</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1-${RANDOM}">
      <div data-container="true" data-replace="true"></div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2-${RANDOM}">
      <div data-container="true" data-replace="true"></div>
    </div>
  </div>
</div>