.navbar {
    background-image: none;
    background-color: var(--colorPrimary40, #375a7f);
    border-bottom: none;
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorCalm40, #3498db);
    border: none
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorCalm40, #3498db);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColorPrimary40, #ffffff);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--colorSuccess40, #00bc8c);
    background-color: transparent;
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover{
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #375a7f);;
}

.dropdown-menu {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorDefault60, #323232);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor40, #ffffff);
}