.navbar {
    background-image: none;
    background-color: var(--textColorDefault40, #333333);
    border-bottom: none;
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorPrimary40, #008cba);
    border: none
}

.navbar-inverse .badge {
    background-color: var(--textColorPrimary40, #ffffff);
    color: var(--colorPrimary40, #008cba);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--colorDefault40, #e7e7e7);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--colorDefault40, #e7e7e7);
    background-color: var(--textColorDefault20, #2d2d2d);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover{
    color: var(--colorDefault40, #e7e7e7);
    background-color: var(--textColorDefault20, #2d2d2d);
}

.dropdown-menu {
    color: var(--colorDefault40, #e7e7e7);
    background-color: var(--textColorDefault40, #2d2d2d);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--colorDefault40, #e7e7e7);
}