.btn,
.k-button {
    border-radius: var(--borderRadiusFull, 99999px);
    border: 0;
    font-weight: 500;
    font-size: var(--textBigSize, 18px);
    padding: 8px 24px;
}


/* Default */
.btn.btn-default:hover,
.btn.btn-default:hover {
    background-color: var(--colorDefault30, #7c8ec8);
    color: var(--textColorDefault40, #ffffff);
}

/* Primary */
.btn.btn-primary,
.btn.btn-primary {
    background-color: transparent;
    color: var(--colorPrimary40, #1351b4);
    border: 1px solid var(--colorPrimary40, #1351b4);
}

.btn.btn-primary:hover,
.btn.btn-primary:hover {
    background-color: var(--colorPrimary10, #d6daeb);
    color: var(--colorPrimary40, #1351b4);
    border: 1px solid var(--colorPrimary40, #1351b4);
}