@import url("font-rawline/fonts.css");

@import 'button-dsgov.css';
@import 'navbar-dsgov.css';

/* ==== VARIABLES ==== */
:root {

    /* Font */
    --fontFamily: 'Rawline', 'Raleway', sans-serif;
    --textColor: #383838;
    --backgroundColor: #ffffff;

    --textSmallSize: 12px;
    --textNormalSize: 14px;
    --textMediumSize: 16px;
    --textBigSize: 18px;
    --textExtraBigSize: 23px;

    --textColor10: #d8d8d8;
    --textColor20: #b2b2b2;
    --textColor30: #858585;
    --textColor40: #383838;
    --textColor50: #313131;
    --textColor60: #292929;
    --textColor70: #1f1f1f;

    /* Menus - Sizes and Distances */
    --menuVerticalWidth: 270px;
    --menuSideSize: 20px;
    --menuItemBarSize: 6px;
    --menuElementOverallPadding: 10px;
    --menuItemPaddingSize: calc(var(--menuElementOverallPadding) + 5px);
    --menuItemIconWidth: 25px;

    /* Background */
    --backgroundColor10: #ffffff;
    --backgroundColor20: #ffffff;
    --backgroundColor30: #ffffff;
    --backgroundColor40: #ffffff;
    --backgroundColor50: #dfdfdf;
    --backgroundColor60: #bbbbbb;
    --backgroundColor70: #8c8c8c;

    /* Distances */
    --distanceNone: 0;
    --distanceSmallest: 5px;
    --distanceExtraSmall: 10px;
    --distanceSmall: 15px;
    --distanceMedium: 20px;
    --distanceBig: 30px;
    --distanceGiant: 40px;
    --distanceTitan: 60px;

    /* Border Radius */
    --borderRadiusNone: 0;
    --borderRadiusSmallest: 5px;
    --borderRadiusExtraSmall: 10px;
    --borderRadiusSmall: 15px;
    --borderRadiusMedium: 20px;
    --borderRadiusBig: 30px;
    --borderRadiusGiant: 40px;
    --borderRadiusTitan: 60px;
    --borderRadiusFull: 99999px;

    /* Color - Default */
    --colorDefault10: #d6daeb;
    --colorDefault20: #aeb7da;
    --colorDefault30: #7c8ec8;
    --colorDefault40: #1351b4;
    --colorDefault50: #11479e;
    --colorDefault60: #0e3b84;
    --colorDefault70: #0a2c63;
    --textColorDefault10: #8c8c8c;
    --textColorDefault20: #bbbbbb;
    --textColorDefault30: #dfdfdf;
    --textColorDefault40: #ffffff;
    --textColorDefault50: #ffffff;
    --textColorDefault60: #ffffff;
    --textColorDefault70: #ffffff;

    /* Color - Primary */
    --colorPrimary10: #d6daeb;
    --colorPrimary20: #aeb7da;
    --colorPrimary30: #7c8ec8;
    --colorPrimary40: #1351b4;
    --colorPrimary50: #11479e;
    --colorPrimary60: #0e3b84;
    --colorPrimary70: #0a2c63;
    --textColorPrimary10: #8c8c8c;
    --textColorPrimary20: #bbbbbb;
    --textColorPrimary30: #dfdfdf;
    --textColorPrimary40: #ffffff;
    --textColorPrimary50: #ffffff;
    --textColorPrimary60: #ffffff;
    --textColorPrimary70: #ffffff;

    /* Color - Success */
    --colorSuccess10: #d9e9d9;
    --colorSuccess20: #b5d7b5;
    --colorSuccess30: #8ac389;
    --colorSuccess40: #46ad44;
    --colorSuccess50: #3d973c;
    --colorSuccess60: #337f32;
    --colorSuccess70: #265f25;
    --textColorSuccess10: #8c8c8c;
    --textColorSuccess20: #bbbbbb;
    --textColorSuccess30: #dfdfdf;
    --textColorSuccess40: #ffffff;
    --textColorSuccess50: #ffffff;
    --textColorSuccess60: #ffffff;
    --textColorSuccess70: #ffffff;

    /* Color - Warning */
    --colorWarning10: #feedd6;
    --colorWarning20: #fcdeae;
    --colorWarning30: #fbce7c;
    --colorWarning40: #fabd10;
    --colorWarning50: #dba50e;
    --colorWarning60: #b78a0c;
    --colorWarning70: #896809;
    --textColorWarning10: #8c8c8c;
    --textColorWarning20: #bbbbbb;
    --textColorWarning30: #dfdfdf;
    --textColorWarning40: #ffffff;
    --textColorWarning50: #ffffff;
    --textColorWarning60: #ffffff;
    --textColorWarning70: #ffffff;

    /* Color - Danger */
    --colorDanger10: #f7d6d5;
    --colorDanger20: #f1afae;
    --colorDanger30: #eb7f7b;
    --colorDanger40: #e52207;
    --colorDanger50: #c91e06;
    --colorDanger60: #a81905;
    --colorDanger70: #7d1304;
    --textColorDanger10: #8c8c8c;
    --textColorDanger20: #bbbbbb;
    --textColorDanger30: #dfdfdf;
    --textColorDanger40: #ffffff;
    --textColorDanger50: #ffffff;
    --textColorDanger60: #ffffff;
    --textColorDanger70: #ffffff;

    /* Color - Royal (mobile) */
    --colorRoyal10: #e0dbf8;
    --colorRoyal20: #c5bbf3;
    --colorRoyal30: #a594ee;
    --colorRoyal40: #7e5ee8;
    --colorRoyal50: #6e52cb;
    --colorRoyal60: #5c45aa;
    --colorRoyal70: #45337f;
    --textColorRoyal10: #8c8c8c;
    --textColorRoyal20: #bbbbbb;
    --textColorRoyal30: #dfdfdf;
    --textColorRoyal40: #ffffff;
    --textColorRoyal50: #ffffff;
    --textColorRoyal60: #ffffff;
    --textColorRoyal70: #ffffff;

    /* Color - Calm (mobile) */
    --colorCalm10: #d6eefb;
    --colorCalm20: #aee0f9;
    --colorCalm30: #7cd1f6;
    --colorCalm40: #11c1f3;
    --colorCalm50: #0fa9d5;
    --colorCalm60: #0c8db2;
    --colorCalm70: #096a85;
    --textColorCalm10: #8c8c8c;
    --textColorCalm20: #bbbbbb;
    --textColorCalm30: #dfdfdf;
    --textColorCalm40: #ffffff;
    --textColorCalm50: #ffffff;
    --textColorCalm60: #ffffff;
    --textColorCalm70: #ffffff;

    /* Color - Light (mobile) */
    --colorLight10: #f5f5f5;
    --colorLight20: #ededed;
    --colorLight30: #e5e5e5;
    --colorLight40: #dddddd;
    --colorLight50: #c2c2c2;
    --colorLight60: #a2a2a2;
    --colorLight70: #797979;
    --textColorLight10: #252525;
    --textColorLight20: #323232;
    --textColorLight30: #3c3c3c;
    --textColorLight40: #444444;
    --textColorLight50: #898989;
    --textColorLight60: #b5b5b5;
    --textColorLight70: #d9d9d9;

    /* Color - Stable (mobile) */
    --colorStable10: #ebebeb;
    --colorStable20: #d9d9d9;
    --colorStable30: #c7c7c7;
    --colorStable40: #b2b2b2;
    --colorStable50: #9c9c9c;
    --colorStable60: #828282;
    --colorStable70: #616161;
    --textColorStable10: #252525;
    --textColorStable20: #323232;
    --textColorStable30: #3c3c3c;
    --textColorStable40: #444444;
    --textColorStable50: #898989;
    --textColorStable60: #b5b5b5;
    --textColorStable70: #d9d9d9;

    /* Color - Dark (mobile) */
    --colorDark10: #d9d9d9;
    --colorDark20: #b5b5b5;
    --colorDark30: #898989;
    --colorDark40: #444444;
    --colorDark50: #3c3c3c;
    --colorDark60: #323232;
    --colorDark70: #252525;
    --textColorDark10: #8c8c8c;
    --textColorDark20: #bbbbbb;
    --textColorDark30: #dfdfdf;
    --textColorDark40: #ffffff;
    --textColorDark50: #ffffff;
    --textColorDark60: #ffffff;
    --textColorDark70: #ffffff;

    /* Color - Neutral */
    --colorNeutral00: #FFFFFF;
    --colorNeutral10: #F1F1F1;
    --colorNeutral20: #E3E3E3;
    --colorNeutral30: #D5D5D5;
    --colorNeutral40: #C7C7C7;
    --colorNeutral50: #B9B9B9;
    --colorNeutral60: #ACACAC;
    --colorNeutral70: #9E9E9E;
    --colorNeutral80: #909090;
    --colorNeutral90: #828282;
    --colorNeutral100: #747474;
    --colorNeutral110: #666666;
    --colorNeutral120: #5D5D5D;
    --colorNeutral130: #535353;
    --colorNeutral140: #4A4A4A;
    --colorNeutral150: #414141;
    --colorNeutral160: #383838;
    --colorNeutral170: #2E2E2E;
    --colorNeutral180: #252525;
    --colorNeutral190: #1C1C1C;
    --colorNeutral200: #131313;
    --colorNeutral210: #090909;
    --colorNeutral220: #000000;
}


body {
    background-color: var(--backgroundColor40, #ffffff);
    font-family: var(--fontFamily, 'Rawline', 'Raleway', sans-serif);
    font-weight: 400;
    font-size: var(--textMediumSize, 16px);
    color: var(--textColor40, #383838);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--textColor40, #383838);
    font-weight: 500;
}


/* Link */
a,
a:focus,
a:active {
    color: var(--colorPrimary40, #1351b4);
}

a:hover {
    color: var(--colorPrimary30, #7c8ec8);
}

/* Login */
.siginPanel {
    background-color: var(--backgroundColor40, #ffffff);
}

#crn-botao-cadastre,
.login-view .sign-up,
.crn-anchor-signup-back {
    color: var(--textColor40, #383838);
}

/* Menu */

/* Fixar o menu no topo */
#main-nav-bar {
    position: fixed;
    width: 100%;
    z-index: 900;
}

/* Forms - General */
.form-control,
.form-control.k-textbox,
.input-group .form-control:last-child,
.k-textbox,
input.k-textbox,
textarea.k-textbox,
.k-multiselect .k-multiselect-wrap,
.k-combobox .k-dropdown-wrap,
.k-autocomplete,
.k-autocomplete.k-state-default,
.mce-tinymce.mce-panel,
.cronDynamicSelect .k-dropdown-wrap,
.k-animation-container .k-dropdown .k-dropdown-wrap {
    background-color: var(--backgroundColor40, #ffffff);
    color: var(--textColor40, #383838);
    border-radius: var(--borderRadiusSmallest, 5px);
    padding: var(--distanceSmallest, 5px) var(--distanceMedium, 20px);
    box-shadow: none;
    height: auto;
    text-indent: 0;
    font-size: var(--textNormalSize, 14px);
    position: initial;
}

.form-control,
.form-control.k-textbox,
.input-group .form-control:last-child,
.k-textbox,
input.k-textbox,
textarea.k-textbox,
.k-multiselect .k-multiselect-wrap,
.k-combobox .k-dropdown-wrap,
.k-autocomplete,
.k-autocomplete.k-state-default,
.cronDynamicSelect .k-dropdown-wrap,
.k-checkbox-label:before,
.k-checkbox:focus+.k-checkbox-label:before,
.mce-tinymce.mce-panel,
.k-radio-label:before,
.k-grid .k-dropdown .k-dropdown-wrap,
.k-animation-container .k-dropdown .k-dropdown-wrap,
.cardinput .k-textbox.form-control {
    border-color: var(--colorNeutral90, #828282);
    box-shadow: none;
}

.form-control::placeholder,
.form-control.k-textbox::placeholder,
.k-textbox::placeholder,
.k-combobox .k-dropdown-wrap input::placeholder,
.k-autocomplete input::placeholder {
    color: var(--colorNeutral70, #9E9E9E);
    font-style: italic;
}

.form-control:hover,
.form-control.k-textbox:hover,
.k-textbox:hover,
.k-multiselect .k-multiselect-wrap:hover,
.k-combobox .k-dropdown-wrap.k-state-hover,
.k-autocomplete.k-state-hover,
.cronDynamicSelect .k-dropdown-wrap.k-state-hover,
.k-grid .k-dropdown .k-dropdown-wrap.k-state-hover,
.k-animation-container .k-dropdown .k-dropdown-wrap.k-state-hover {
    background-color: var(--colorNeutral30, #D5D5D5);
}

.form-control:focus,
.form-control.k-textbox:focus,
.k-textbox:focus,
.k-multiselect.k-state-focused .k-multiselect-wrap,
.k-combobox .k-dropdown-wrap.k-state-focused,
.k-autocomplete.k-state-focused,
.cronDynamicSelect .k-dropdown-wrap.k-state-focused,
.cronDynamicSelect .k-dropdown-wrap.k-state-active,
.k-checkbox:checked+.k-checkbox-label:before,
.k-grid .k-dropdown .k-dropdown-wrap.k-state-focused,
.k-animation-container .k-dropdown .k-dropdown-wrap.k-state-focused {
    border-color: transparent;
    box-shadow: 0 0 0 3px var(--colorWarning50, #dba50e);
}

.k-radio:checked+.k-radio-label:before {
    border-color: var(--colorNeutral80, #909090);
}

.input-group .form-control {
    z-index: unset;
}

/* Forms - General Dropdown */

.k-popup.k-list-container .k-list-optionlabel {
    border-radius: var(--borderRadiusNone, 0);
    border: 0;
}

.k-popup.k-list-container .k-list li.k-state-hover,
.k-popup.k-list-container .k-list-optionlabel.k-state-hover {
    background-color: var(--colorNeutral20, #E3E3E3);
}

.k-popup.k-list-container .k-list li.k-state-focused,
.k-popup.k-list-container .k-list li.k-state-selected,
.k-popup.k-list-container .k-list-optionlabel.k-state-focused,
.k-popup.k-list-container .k-list-optionlabel.k-state-selected {
    box-shadow: none;
    background-color: var(--colorDefault10, #d6daeb);
    color: var(--colorDefault60, #0e3b84);
}

span.k-dropdown-wrap>span.k-select {
    background-image: url("img/arrow-blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: var(--borderRadiusFull, 99999px);
    height: 35px;
    width: 35px;
    margin: 2px 2px 0 0;
}

span.k-dropdown-wrap.k-state-hover>span.k-select:hover {
    background-color: var(--colorDefault10, #d6daeb);
}

/* Forms - Combobox */
.k-combobox {
    background-color: transparent;
}

.k-combobox span.k-dropdown-wrap.k-state-active.k-state-border-down {
    box-shadow: none;
    border-color: var(--colorNeutral90, #828282);
}

.k-combobox span.k-dropdown-wrap>span>span {
    display: none;
}

.k-combobox span.k-dropdown-wrap input.k-input,
.k-autocomplete.k-state-default input.k-input {
    background-color: transparent;
    box-shadow: none;
    text-indent: 0;
    padding: 0;
}

/* Forms - Autocomplete */
.k-autocomplete.k-state-hover {
    background-color: var(--colorNeutral30, #D5D5D5);
}

.k-autocomplete.k-state-focused {
    border-color: transparent;
    box-shadow: 0 0 0 3px var(--colorWarning50, #dba50e);
}

/* Forms - Checkbox and Radio Buttons */
.k-checkbox-label,
.k-radio-label {
    margin-bottom: 12px;
}

.k-checkbox-label:before {
    border-radius: var(--borderRadiusSmallest, 5px);
}

.k-radio-label:before {
    background-color: var(--colorNeutral00, #FFFFFF);
    border-width: 1px;
    height: 18px;
    width: 18px;
}

.k-checkbox-label {
    padding: 1px;
    padding-left: 25px;
}

.k-checkbox-label:before {
    color: var(--colorDefault40, #1351b4);
    padding: 1px;
}

.k-radio:checked+.k-radio-label:after {
    background-color: var(--colorDefault40, #1351b4);
    width: 14px;
    height: 14px;
}


/* Forms - Multiselect */
.k-multiselect,
.k-multiselect.k-state-hover {
    background-color: transparent;
}

.k-multiselect .k-multiselect-wrap.k-floatwrap,
.k-multiselect.k-state-focused .k-multiselect-wrap {
    border-radius: var(--borderRadiusSmallest, 5px);
}

.k-multiselect .k-multiselect-wrap input {
    min-height: auto;
    padding: 0;
}

.k-multiselect .k-multiselect-wrap li,
.k-multiselect .k-multiselect-wrap li:focus {
    padding: 0 calc(21px + var(--distanceExtraSmall, 10px)) 0 var(--distanceExtraSmall, 10px);
    font-size: 17px;
    min-height: 30px;
}

.k-multiselect .k-multiselect-wrap li.k-button {
    margin-right: var(--distanceSmall, 15px);
}

.k-multiselect .k-multiselect-wrap li.k-button:active {
    box-shadow: none;
}

.k-multiselect .k-multiselect-wrap li.k-button.k-state-hover {
    background-color: var(--colorDefault30, #7c8ec8);
    color: var(--textColorDefault40, #ffffff);
}

.k-multiselect .k-multiselect-wrap li.k-button .k-select {
    background-color: transparent;
}

.k-multiselect .k-multiselect-wrap li.k-button .k-icon {
    margin-top: -10px;
}

/* Forms -  Password */
*[id^="crn-input-password"] .cardinput {
    border: 0;
    padding: 0;
}

*[id^="crn-input-password"] .cardinput .k-textbox.form-control {
    border: 1px solid var(--colorNeutral90, #828282);
    padding-right: 35px;
}

*[id^="crn-input-password"] .cardinput .k-textbox.form-control:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px var(--colorWarning50, #dba50e);
}

*[id^=crn-input-password] button {
    margin-left: -55px;
    position: relative;
}

*[id^=crn-input-password] button i:before {
    color: var(--colorDefault40, #1351b4);
}

/* Form - Text Input Button */
*[id^="crn-textinputbutton"] .crn-textinputbutton {
    align-items: end;
}

*[id^="crn-textinputbutton"] .form-group {
    margin-bottom: 0;
}

*[id^="crn-textinputbutton"] .form-control {
    display: flex;
    flex-direction: column;
}

*[id^="crn-textinputbutton"] .btn i {
    margin-right: 0;
}

*[id^="crn-textinputbutton"] div[data-component="crn-button"] {
    margin-bottom: 0;
}

.btn i {
    position: inherit;
}

/* Panels and Accordions */
.panel-group .panel+.panel {
    margin-top: 0;
}

.panel,
.panel.panel-default {
    border-radius: var(--borderRadiusNone, 0);
    border: 0;
    overflow: hidden;
    box-shadow: none;
}

.panel {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}

.panel .panel-heading,
.panel.panel-default .panel-heading {
    border-radius: var(--borderRadiusNone, 0);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.panel .panel-footer,
.panel.panel-default .panel-footer {
    background-color: transparent;
    border: 0;
}

.panel .panel-heading .lead,
.panel.panel-default .panel-heading .lead,
.panel .panel-body .lead,
.panel.panel-default .panel-body .lead {
    margin: 0;
    font-weight: 500;
}

.panel .panel-heading .lead,
.panel.panel-default .panel-heading .lead {
    color: var(--colorDefault40, #1351b4);
}

/* Accordions */
*[id^="crn-accordion"] {
    border-top: 1px solid var(--colorNeutral20, #E3E3E3);
}

.panel-group .panel-heading.heading-arrow {
    grid-template-columns: 33px auto;
}

.panel-group .heading-arrow.panel-heading::after,
.panel-group .heading-arrow.collapsed.panel-heading::after {
    content: none;
}

.panel-group .heading-arrow.panel-heading::before {
    font-family: 'FontAwesome';
    content: "\f077";
    float: left;
}

.panel-group .heading-arrow.collapsed.panel-heading::before {
    content: "\f078";
}

*[id^="crn-accordion"] .panel.panel-default {
    border-bottom: 1px solid var(--colorNeutral20, #E3E3E3);
}


*[id^="crn-accordion"] .panel .panel-heading h1,
*[id^="crn-accordion"] .panel .panel-body h1 {
    font-size: 17px;
    text-align: left;
    font-weight: normal;
    margin: var(--distanceSmall, 15px) 0;
}


*[id^="crn-accordion"] .panel .panel-heading h1 {
    font-weight: 600;
}


/* Calendar, Date and Hour */
.k-calendar,
.bootstrap-datetimepicker-widget {
    color: var(--colorNeutral160, #383838);
    box-shadow: none;
    border-radius: var(--borderRadiusSmallest, 5px);
    border: 0;
}

.bootstrap-datetimepicker-widget {
    border: 1px solid var(--colorDefault40, #1351b4);
    overflow: hidden;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 0;
    margin: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top {
    margin-bottom: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom {
    margin-top: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    border-top-color: var(--colorDefault40, #1351b4);
    border-bottom-color: var(--colorDefault40, #1351b4);
    left: 15px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after,
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-top-color: var(--colorDefault40, #1351b4);
    border-bottom-color: var(--colorDefault40, #1351b4);
    left: 16px;
}

.k-calendar .k-header,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:first-child {
    background-color: var(--colorDefault40, #1351b4);
    padding: 3px 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:first-child th {
    border-radius: var(--borderRadiusNone, 0);
    color: var(--colorNeutral00, #FFFFFF);
    font-weight: normal;
    padding: 2px;
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:first-child th:hover {
    background-color: var(--colorDefault40, #1351b4);
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:first-child th span {
    padding: 8px;
    border-radius: var(--borderRadiusFull, 99999px);
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:first-child th:hover span {
    background-color: var(--colorDefault30, #7c8ec8);
}

.k-calendar .k-header .k-link {
    border-radius: var(--borderRadiusFull, 99999px);
    margin: 0 2px;
}

.k-calendar .k-header .k-link.k-state-hover {
    background-color: var(--colorDefault30, #7c8ec8);
}

.k-calendar .k-header .k-link.k-nav-fast {
    color: var(--colorNeutral00, #FFFFFF);
    margin: 0;
}

.k-calendar .k-header .k-icon {
    top: 8px;
    position: absolute;
    left: 8px;
}

.k-calendar .k-content thead,
.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead {
    background-color: var(--colorNeutral20, #E3E3E3);
}

.bootstrap-datetimepicker-widget.dropdown-menu .datepicker table thead tr:last-child th {
    font-weight: normal;
    background-color: transparent;
    border-radius: var(--borderRadiusNone, 0);
}

.k-calendar .k-content {
    background-color: var(--colorNeutral00, #FFFFFF);
}

.k-calendar .k-content th {
    border-bottom-width: 0;
    padding: 4px;
    text-align: center;
}

.k-calendar .k-content tbody:before,
.k-calendar .k-content tbody:after {
    content: "";
    margin: 4px 0;
    display: block;
    width: 100%;
}

.k-calendar .k-content .k-link {
    padding: 0;
    text-align: center;
    color: var(--colorNeutral160, #383838);
}

.k-calendar .k-content .k-link:focus {
    outline: 0;
}

.k-calendar .k-content .k-today,
.bootstrap-datetimepicker-widget .datepicker table td.today,
.bootstrap-datetimepicker-widget .datepicker table td span.month.active,
.bootstrap-datetimepicker-widget .datepicker table td span.year.active,
.bootstrap-datetimepicker-widget .datepicker table td span.decade.active {
    background-color: var(--colorNeutral30, #D5D5D5);
    box-shadow: none;
}

.bootstrap-datetimepicker-widget .datepicker table td span.month.active,
.bootstrap-datetimepicker-widget .datepicker table td span.year.active,
.bootstrap-datetimepicker-widget .datepicker table td span.decade.active {
    color: var(--colorNeutral160, #383838);
    text-shadow: none;
}

.bootstrap-datetimepicker-widget .datepicker table td.today:before {
    display: none;
}

.k-calendar .k-content .k-state-selected,
.k-calendar .k-content .k-state-selected.k-state-focused,
.k-calendar .k-content .k-today.k-state-selected,
.k-calendar .k-content .k-today.k-state-selected.k-state-focused,
.bootstrap-datetimepicker-widget .datepicker table td.active {
    background-color: var(--colorDefault40, #1351b4);
    box-shadow: none;
    text-shadow: none;
}

.k-calendar .k-content .k-state-selected .k-link,
.k-calendar .k-content .k-state-selected.k-state-focused .k-link,
.k-calendar .k-content .k-today.k-state-selected .k-link,
.k-calendar .k-content .k-today.k-state-selected.k-state-focused .k-link {
    color: var(--colorNeutral00, #FFFFFF);
}

.k-calendar .k-content .k-state-selected.k-state-hover,
.k-calendar .k-content .k-state-selected.k-state-focused.k-state-hover,
.k-calendar .k-content .k-today.k-state-selected.k-state-hover,
.k-calendar .k-content .k-today.k-state-selected.k-state-focused.k-state-hover,
.bootstrap-datetimepicker-widget .datepicker table td span.month:hover,
.bootstrap-datetimepicker-widget .datepicker table td span.year:hover,
.bootstrap-datetimepicker-widget .datepicker table td span.decade:hover,
.bootstrap-datetimepicker-widget .datepicker table td.active:hover,
.bootstrap-datetimepicker-widget .datepicker table td.day:hover,
.bootstrap-datetimepicker-widget .datepicker table td.hour:hover,
.bootstrap-datetimepicker-widget .datepicker table td.minute:hover,
.bootstrap-datetimepicker-widget .datepicker table td.second:hover {
    background-color: var(--colorDefault30, #7c8ec8);
    color: var(--colorNeutral00, #FFFFFF);
    box-shadow: none;
    text-shadow: none;
}

.k-calendar .k-content .k-state-focused {
    background-color: var(--colorNeutral20, #E3E3E3);
    box-shadow: none;
}

.k-calendar .k-content .k-today.k-state-hover,
.k-calendar .k-content .k-state-hover {
    background-color: var(--colorDefault30, #7c8ec8);
}

.k-calendar .k-content .k-today.k-state-hover a,
.k-calendar .k-content .k-state-hover a {
    color: var(--colorNeutral00, #FFFFFF);
}

.k-calendar .k-footer .k-nav-today,
.bootstrap-datetimepicker-widget.dropdown-menu>*>*>table tbody span {
    background-color: var(--colorNeutral30, #D5D5D5);
    color: var(--colorNeutral160, #383838);
}

.bootstrap-datetimepicker-widget.dropdown-menu>*>*>table tbody span {
    margin-left: 0;
    margin-bottom: 1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu>*>*:first-child>table tbody span {
    margin-top: -2px;
    border-radius: 0;
}

.k-calendar .k-footer .k-nav-today:hover,
.bootstrap-datetimepicker-widget.dropdown-menu>*>*>table tbody:hover span {
    background-color: var(--colorNeutral20, #E3E3E3);
}

.bootstrap-datetimepicker-widget .timepicker {
    border-radius: var(--borderRadiusSmallest, 5px);
    overflow: hidden;
    margin-top: var(--distanceMedium, 20px);
}

.bootstrap-datetimepicker-widget .timepicker .timepicker-picker {
    margin-right: var(--distanceMedium, 20px);
}

.bootstrap-datetimepicker-widget .timepicker .btn {
    background-color: var(--colorNeutral00, #FFFFFF);
    color: var(--colorDefault40, #1351b4);
}

.bootstrap-datetimepicker-widget .timepicker .btn:hover span {
    background-color: var(--colorNeutral20, #E3E3E3);
    color: var(--colorDefault30, #7c8ec8);
    border-radius: var(--borderRadiusSmall, 15px);
}

*[id^="crn-datepicker"] div div:after,
*[id^="crn-datetimepicker"] div div:after,
*[id^="crn-timepicker"] div div:after {
    font: normal normal normal 14px/1 'FontAwesome';
    content: "\f133";
    margin-left: -30px;
    position: relative;
    font-size: 16px;
    top: 2px;
    color: var(--colorDefault40, #1351b4);
}

*[id^="crn-timepicker"] div div:after {
    content: "\f017";
}

*[id^="crn-datepicker"] div div input.form-control,
*[id^="crn-datetimepicker"] div div input.form-control,
*[id^="crn-timepicker"] div div input.form-control {
    padding-right: 35px;
}

/* Tabs */
.ctn-tab .nav-tabs li.active {
    border: 0;
    border-bottom: 2px solid var(--colorPrimary40, #1351b4);
    color: var(--colorPrimary40, #1351b4);
    background-color: transparent;
}

.ctn-tab .nav-tabs li.active a,
.ctn-tab .nav-tabs li.active a:hover {
    color: var(--colorPrimary40, #1351b4);
}

.ctn-tab .nav-tabs li a {
    color: var(--textColor40, #383838);
}

.ctn-tab .nav-tabs li.active a:hover,
.ctn-tab .nav-tabs li a:hover {
    border-radius: 0;
    background-color: var(--colorNeutral20, #E3E3E3);
}

#main-view.container-fluid {
    padding-top: 68px;
}

/* Drag File Upload */
.dynamic-image-container {
    border-radius: var(--borderRadiusSmallest, 5px);
    text-align: left;
    border-width: 1px;
    border-color: var(--colorDefault40, #1351b4);
    padding: 6px 10px;
    max-width: 550px;
    width: 100%;
}

.dynamic-image-container div:first-child::before {
    font-family: "Glyphicons Halflings";
    content: "\e198";
    margin-left: 12px;
    top: 6px;
    position: relative;
    color: var(--colorDefault40, #1351b4);
}

.dynamic-image-container .btn.ng-binding,
.dynamic-image-container .btn {
    background-color: transparent;
    color: var(--colorDefault40, #1351b4);
    padding: 4px;
    outline: none;
}

.dynamic-image-container .btn.remove-image-button {
    margin-top: -34px;
}

.dynamic-image-container .btn:focus,
.dynamic-image-container .btn:active,
.dynamic-image-container .btn:hover {
    box-shadow: none;
}

.dynamic-image-container .btn.btn-info span {
    margin-top: 6px;
    top: 4px;
}

.dynamic-image-container .start-camera-button-attribute {
    bottom: 0;
    overflow: hidden;
    display: none;
}

/* Banner */
.jumbotron {
    background-color: var(--colorDefault10, #d6daeb);
    border-radius: var(--borderRadiusSmallest, 5px);
}

.jumbotron .h1,
.jumbotron h1,
.jumbotron .h2,
.jumbotron h2 {
    color: var(--textColor40, #383838);
}

/* Rich Text Editor */
.mce-tinymce.mce-panel {
    overflow: hidden;
    padding: 0;
    background-color: var(--colorNeutral10, #F1F1F1);
}

.mce-tinymce.mce-panel .mce-menubar {
    border-bottom-color: var(--colorNeutral40, #C7C7C7);
}

.mce-tinymce.mce-panel .mce-menubar .mce-btn-group:not(:first-child) {
    border-left-color: var(--colorNeutral40, #C7C7C7);
}

.mce-tinymce.mce-panel .mce-menubar .mce-btn button,
.mce-tinymce.mce-panel .mce-toolbar .mce-btn button,
.mce-tinymce.mce-panel .mce-toolbar .mce-btn button span,
.mce-tinymce.mce-panel .mce-toolbar .mce-btn button i {
    color: var(--colorNeutral160, #383838);
}

.mce-tinymce.mce-panel .mce-toolbar-grp.mce-panel,
.mce-tinymce.mce-panel .mce-statusbar.mce-panel {
    background-color: var(--colorNeutral10, #F1F1F1);
}

.mce-tinymce.mce-panel .mce-toolbar .mce-btn button i {
    color: var(--colorNeutral160, #383838);
}

/* Slider */
.k-slider:hover {
    background-color: transparent;
}

.k-slider .k-slider-buttons .k-button,
.k-slider .k-slider-buttons .k-button:active,
.k-slider .k-slider-buttons .k-button:focus,
.k-slider .k-slider-buttons .k-button.k-state-active,
.k-slider .k-slider-buttons .k-button.k-state-focused {
    min-height: auto;
    box-shadow: none;
    color: var(--colorDefault40, #1351b4);
    padding: 0;
    position: absolute;
}

.k-slider .k-slider-buttons .k-button:hover,
.k-slider .k-slider-buttons .k-button.k-state-hover {
    background-color: var(--colorDefault30, #7c8ec8);
    color: var(--textColorDefault40, #ffffff);
}

.k-slider .k-slider-buttons .k-button.k-button-decrease span,
.k-slider .k-slider-buttons .k-button.k-button-increase span {
    font-size: 13px;
    top: 0;
}

.k-slider .k-slider-buttons .k-button.k-button-decrease span:before,
.k-slider .k-slider-buttons .k-button.k-button-increase span:before {
    margin-left: -1px;
    margin-top: -1px;
}

.k-slider .k-slider-buttons .k-button.k-button-decrease span:before {
    content: "\e079";
}

.k-slider .k-slider-buttons .k-button.k-button-increase span:before {
    content: "\e080";
}

.k-slider .k-slider-track,
.k-slider .k-slider-selection {
    background-color: var(--colorDefault10, #d6daeb);
    box-shadow: none;
    border: 0;
    border-radius: var(--borderRadiusSmallest, 5px);
}

.k-slider .k-slider-selection {
    background-color: var(--colorDefault30, #7c8ec8);
    margin-top: -4px;
}

.k-slider .k-slider-items {
    margin-top: 4px;
}

.k-slider .k-draghandle,
.k-slider .k-draghandle.k-state-focused,
.k-slider .k-draghandle.k-state-focused:link {
    background-color: var(--colorDefault50, #11479e);
    border: 0;
    box-shadow: none;
}

.k-slider .k-draghandle {
    top: -5px;
    width: 17px;
    height: 17px;
    margin-left: 0;
}

.k-slider .k-tick {
    height: 24px;
}

.k-slider .k-tick .k-label {
    color: var(--colorNeutral160, #383838);
}

.k-slider .form-control:hover {
    background-color: transparent;
}

div.k-slider {
    margin-bottom: 36px;
}

/* Tables and Grids */
.k-grid {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    overflow-y: auto;
}

.k-grid .k-header,
.k-grid .k-grid-pager {
    background-color: transparent;
    border: 0;
}

.k-grid .k-header.k-grid-toolbar {
    background-color: var(--colorNeutral00, #FFFFFF);
    padding: var(--distanceMedium, 20px);
}

.k-grid .k-header .k-button {
    border: 1px solid var(--colorDefault40, #1351b4);
    color: var(--colorDefault40, #1351b4);
}

.k-grid .k-header .crn-grid-title {
    color: var(--colorNeutral160, #383838);
    padding: 8px 24px;
    padding-left: 0;
}


.k-grid .k-i-arrow-60-down:before {
    content: none;
}

.k-grid table,
table.table {
    border-collapse: separate;
    overflow: hidden;
}

.k-grid table thead {
    box-sizing: border-box;
}

.k-grid table thead th,
.k-grid table thead th.k-header,
.k-grid table tbody td {
    border: 0;
}

.k-grid table thead th:first-child,
.k-grid table tbody td:first-child {
    border-left: none;
}

.k-grid table thead th.k-header,
.k-grid table tbody td,
table.table thead th,
table.table tbody td {
    padding: var(--distanceSmall, 15px) var(--distanceMedium, 20px);
    color: var(--colorNeutral160, #383838);
    border-width: 0;
}

.k-grid table thead th.k-header,
table.table thead th {
    background-color: var(--colorNeutral20, #E3E3E3);
    color: var(--colorNeutral160, #383838);
}

.k-grid table thead th.k-header,
.k-grid table thead th.k-header a.k-link,
table.table thead th {
    font-weight: 500;
    font-size: 17px;
    text-transform: initial;
    border-top: 0;
    margin: 0;
    white-space: normal;
    vertical-align: top;
    color: var(--colorDefault40, #1351b4);
}

table.table thead th {
    border-bottom: 0;
}

table.table.table-bordered {
    border: 1px solid;
}

table.table.table-bordered thead th,
table.table.table-bordered tbody td {
    border-right: 0;
    border-bottom: 0;
}

table.table.table-bordered thead th:first-child,
table.table.table-bordered tbody td:first-child {
    border-left: 0;
}

table.table.table-bordered,
table.table.table-bordered thead th,
table.table.table-bordered tbody td {
    border-color: var(--colorNeutral40, #C7C7C7);
    border-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
}

table.table.table-hover tbody tr:hover {
    border-color: var(--colorNeutral30, #D5D5D5);
}

.k-grid table thead th.k-header a.k-link {
    display: inline;
    padding: 0;
    color: var(--colorDefault40, #1351b4);
}

.k-grid table thead th.k-header a.k-link .k-icon,
.k-grid table thead th.k-header a.k-grid-filter {
    margin-left: var(--distanceExtraSmall, 10px);
}

.k-grid table thead th.k-header a.k-link .k-icon {
    margin-top: 1px;
    color: var(--colorDefault40, #1351b4);
}

.k-grid table thead th.k-header a.k-link .k-icon.k-i-sort-asc-sm:before,
.k-grid table thead th.k-header a.k-link .k-icon.k-i-sort-desc-sm:before,
.k-grid table thead th.k-header a.k-grid-filter span:before {
    font-family: 'FontAwesome';
}

.k-grid table thead th.k-header a.k-link .k-icon.k-i-sort-asc-sm:before {
    content: "\f062";
}

.k-grid table thead th.k-header a.k-link .k-icon.k-i-sort-desc-sm:before {
    content: "\f063";
}

.k-grid table thead th.k-header a.k-grid-filter {
    float: none;
    padding: 0;
    z-index: 0;
    top: -5px;
}

.k-grid table thead th.k-header a.k-grid-filter span:before {
    content: "\f142";
}

.k-grid table tbody tr.k-state-selected {
    background-color: var(--colorDefault20, #aeb7da);
    color: var(--coloNeutral160, #383838);
    box-shadow: none;
}

.k-grid table tbody tr:hover {
    background-color: var(--colorDefault10, #d6daeb);
}

.k-grid table tbody tr.k-state-selected:hover,
.k-grid table tbody tr.k-state-selected:hover td {
    background-color: var(--colorDefault20, #aeb7da);
}

.k-grid .k-button {
    margin: 0;
}

.k-grid table .k-button,
.k-grid table .k-button:focus:active {
    padding: 5px;
    min-height: 0;
    min-width: 0;
    margin-left: 3px;
    background-color: transparent;
}

.k-grid table .k-button:first-child,
.k-grid table .k-button:focus:active:first-child {
    margin-left: 0;
}

.k-grid table .k-button span:before {
    left: -1px;
    color: var(--colorDefault40, #1351b4);
}

.k-grid .k-grid-pager {
    padding: 10px 0;
    border-top: 1px solid var(--colorNeutral20, #E3E3E3);
}

.k-grid .k-grid-pager .k-state-selected {
    background-color: var(--colorDefault40, #1351b4);
    border-color: var(--colorDefault40, #1351b4);
    border-radius: var(--borderRadiusFull, 99999px);
    box-shadow: none;
}

.k-grid .k-grid-pager .k-pager-nav.k-pager-first {
    border-radius: var(--borderRadiusSmallest, 5px) 0 0 var(--borderRadiusSmallest, 5px);
}

.k-grid .k-grid-pager .k-pager-nav.k-pager-first+.k-link+ul {
    border-left: 0;
    position: static;
}

.k-grid .k-grid-pager .k-pager-nav.k-pager-first+.k-link+ul .k-pager-nav {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
}

.k-grid .k-grid-pager .k-pager-nav.k-pager-last {
    border-radius: 0 var(--borderRadiusSmallest, 5px) var(--borderRadiusSmallest, 5px) 0;
}

.k-pager-sizes .k-widget.k-dropdown {
    margin-top: -8px;
}

.k-grid .k-grid-pager .k-link,
.k-grid .k-grid-pager .k-pager-nav.k-pager-first+.k-link {
    border-radius: 0;
}

.k-grid .k-grid-pager .k-link {
    border: 0;
    margin: 0;
}

.k-grid .k-grid-pager .k-link:hover {
    background-color: var(--colorNeutral10, #F1F1F1);
}

.k-grid .k-grid-pager .k-link.k-pager-refresh {
    border-color: var(--colorDefault20, #aeb7da);
    border-radius: var(--borderRadiusFull, 99999px);
    background-color: transparent;
    color: var(--colorDefault40, #1351b4);
}

.k-grid .k-grid-pager .k-link.k-pager-refresh:hover {
    background-color: var(--colorDefault10, #d6daeb);
}

.k-grid .k-grid-pager ul .k-link {
    border-left: 0;
}

.k-grid .k-grid-pager .k-pager-numbers a {
    color: var(--colorDefault40, #1351b4);
}

.k-grid .k-grid-pager .k-icon.k-i-arrow-60-left:before {
    content: "\e072";
    transform: rotate(180deg);
}

.k-grid .k-grid-pager .k-icon.k-i-arrow-60-right:before {
    content: "\e072";
}

.k-grid .k-dropdown {
    background-color: transparent;
    min-width: 150px;
}

.k-grid .k-dropdown .k-dropdown-wrap {
    border-radius: var(--borderRadiusSmallest, 5px);
    background-color: var(--colorNeutral00, #FFFFFF);
}

.k-grid .k-dropdown .k-dropdown-wrap.k-state-hover,
.k-grid .k-dropdown .k-dropdown-wrap.k-state-focused,
.k-grid .k-dropdown .k-dropdown-wrap.k-state-active {
    background-color: var(--colorNeutral00, #FFFFFF);
}

.k-grid .k-dropdown .k-dropdown-wrap .k-input {
    color: var(--colorDefault40, #1351b4);
}

@media (max-width: 576px) {
    .k-grid .k-pager-sizes.k-label {
        padding: 20px 0 0;
        width: 100%;
    }

    .k-grid .k-pager-sizes.k-label span {
        margin: 0;
    }
}

/* Dynamic Select Box */
.cronDynamicSelect {
    background-color: transparent;
}

.cronDynamicSelect .k-dropdown-wrap .k-input {
    display: inline;
}

/* Scheduler */
.k-scheduler {
    border: 0;
    border-radius: var(--borderRadiusSmallest, 5px);
    overflow: hidden;
}

.k-scheduler .k-scheduler-toolbar {
    background-color: var(--colorNeutral00, #FFFFFF);
    padding: var(--distanceExtraSmall, 10px);
    border-bottom: 0;
}

.k-scheduler .k-scheduler-toolbar .k-scheduler-views {
    float: left;
    background-color: transparent;
}

.k-scheduler .k-scheduler-toolbar li,
.k-scheduler .k-scheduler-toolbar li:first-child,
.k-scheduler .k-scheduler-toolbar li:last-child,
.k-scheduler .k-scheduler-toolbar li.k-state-default.k-state-selected,
.k-scheduler .k-scheduler-toolbar li.k-state-default.k-state-hover {
    border-radius: var(--borderRadiusFull, 99999px);
    border-color: var(--colorDefault40, #1351b4);
    border-width: 1px;
}

.k-scheduler .k-scheduler-toolbar li,
.k-scheduler .k-scheduler-toolbar li:first-child,
.k-scheduler .k-scheduler-toolbar li:last-child {
    background-color: transparent;
    overflow: hidden;
}

.k-scheduler .k-scheduler-toolbar li {
    margin-right: var(--distanceExtraSmall, 10px);
}

.k-scheduler .k-scheduler-toolbar li.k-nav-today,
.k-scheduler .k-scheduler-toolbar li.k-view-day {
    margin-left: 0;
}

.k-scheduler .k-scheduler-toolbar li a,
.k-scheduler .k-scheduler-toolbar li a.k-link {
    color: var(--colorDefault40, #1351b4);
    padding: var(--distanceExtraSmall, 10px) var(--distanceMedium, 20px);
}

.k-scheduler .k-scheduler-toolbar li.k-state-hover a,
.k-scheduler .k-scheduler-toolbar li.k-state-hover a.k-link,
.k-scheduler .k-scheduler-toolbar li.k-state-border-down a.k-link {
    background-color: var(--colorDefault10, #d6daeb);
}

.k-scheduler .k-scheduler-toolbar li.k-state-selected a,
.k-scheduler .k-scheduler-toolbar li.k-state-selected a.k-link {
    background-color: var(--colorDefault40, #1351b4);
    color: var(--colorNeutral00, #FFFFFF);
}

.k-scheduler .k-scheduler-layout {
    border: 1px solid var(--colorDefault10, #d6daeb);
    width: calc(100% - 2px);
}

.k-scheduler .k-scheduler-layout .k-scheduler-header .k-scheduler-header-wrap>.k-scheduler-table th {
    background-color: var(--colorNeutral10, #F1F1F1);
    color: var(--colorDefault40, #1351b4);
}

.k-scheduler .k-scheduler-content .k-loading-mask {
    z-index: 0;
}

.k-scheduler .k-scheduler-header th,
.k-scheduler .k-scheduler-header-wrap,
.k-scheduler .k-scheduler-table td,
.k-scheduler .k-scheduler-times,
.k-scheduler .k-scheduler-times th,
.k-scheduler .k-scheduler-times tr {
    background-color: var(--colorNeutral00, #FFFFFF);
    border-color: var(--colorDefault10, #d6daeb);
    font-weight: 500;
}

.k-scheduler .k-scheduler-footer {
    background-color: var(--colorDefault10, #d6daeb);
    padding: var(--distanceExtraSmall, 10px);
    border: 0;
}

.k-scheduler .k-scheduler-footer ul {
    background-color: transparent;
}

.k-scheduler .k-scheduler-footer .k-scheduler-fullday {
    border: 0;
    background-color: var(--colorDefault40, #1351b4);
    border-radius: var(--borderRadiusFull, 99999px);
    padding: var(--distanceExtraSmall, 10px) var(--distanceMedium, 20px);
    cursor: pointer;
}

.k-scheduler .k-scheduler-footer .k-scheduler-fullday:hover {
    background-color: var(--colorDefault30, #7c8ec8);
}

.k-scheduler .k-scheduler-footer .k-scheduler-fullday a {
    color: var(--colorNeutral00, #FFFFFF);
    padding: 0;
}

/* Rating */
*[id^="crn-rating"] .fa {
    margin-left: var(--distanceSmallest, 5px);
    cursor: pointer;
}

*[id^="crn-rating"] .fa:first-child {
    margin-left: 0;
}

/* Modal */
.modal .modal-header .close {
    color: var(--colorDefault40, #1351b4);
    opacity: 1;
    font-size: 32px;
}

.modal .modal-content {
    border-radius: var(--borderRadiusNone, 0);
}

.modal .modal-content .modal-header,
.modal .modal-content .modal-body,
.modal .modal-content .modal-footer {
    padding: var(--distanceMedium, 20px);
}

.modal .modal-content .modal-header,
.modal .modal-content .modal-footer {
    border: 0;
}

.modal .modal-content .list-group-item {
    border: 0;
    padding: 10px 0;
}

.modal .modal-content .list-group-item {
    border: 0;
    padding: 10px 0;
}

.modal .modal-content .k-textbox {
    width: 100%;
}

/* Animation Container */
.k-animation-container form {
    border-color: var(--colorDefault40, #1351b4);
    border-radius: var(--borderRadiusSmallest, 5px);
    box-shadow: none;
}

.k-animation-container .k-dropdown {
    background-color: transparent;
}

.k-animation-container .k-dropdown .k-dropdown-wrap .k-input {
    padding: 1px 0;
    margin-left: -13px;
    margin-left: calc(var(--distanceExtraSmall, 10px) - (2*var(--distanceExtraSmall, 10px)) - 2px);
}

.k-animation-container .k-button {
    width: auto;
    min-height: auto;
    margin: 0;
    padding: var(--distanceSmallest, 5px) var(--distanceExtraSmall, 10px);
}

/* Carousel */

.carousel .carousel-control .glyphicon {
    color: var(--colorDefault40, #1351b4);
}

.carousel .carousel-control .glyphicon:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel .carousel-indicators li {
    border: 1px solid var(--colorDefault20, #aeb7da);
    background-color: transparent;
    height: 15px;
    width: 15px;
    margin: 0 5px;
}

.carousel .carousel-indicators li:hover {
    background-color: var(--colorDefault20, #aeb7da);
}

.carousel .carousel-indicators li.active,
.carousel .carousel-indicators li.active:hover {
    border: 1px solid var(--colorDefault40, #1351b4);
    background-color: var(--colorDefault40, #1351b4);
}

.carousel-control:focus,
.carousel-control:hover {
    background-color: #1351b433;
    background-image: none;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

/* Report Viewer */
div.stiJsViewerMainPanel,
div.stiJsViewerToolBar {
    z-index: unset;
}

div.stiJsViewerMainPanel {
    border: 1px solid var(--colorNeutral40, #C7C7C7);
    border-radius: var(--borderRadiusSmallest, 5px);
    overflow: hidden;
}

div.stiJsViewerToolBar {
    background-color: var(--colorNeutral10, #F1F1F1);
    padding: 1px var(--distanceMedium, 20px);
}

div.stiJsViewerToolBar>div {
    background-color: transparent;
}

div.stiJsViewerToolBar .stiJsViewerToolBarTable {
    border: 0;
    background-color: transparent;
}

div.stiJsViewerToolBar .stiJsViewerToolBarTable td {
    color: var(--colorNeutral160, #383838);
}

div.stiJsViewerToolBar .stiJsViewerToolBarTable td div.stiJsViewerStandartSmallButtonOver,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td div.stiJsViewerStandartSmallButtonSelected {
    background-color: var(--colorNeutral30, #D5D5D5);
    border-radius: var(--borderRadiusSmallest, 5px);
}

div.stiJsViewerToolBar .stiJsViewerToolBarTable td div table.stiJsViewerClearAllStyles {
    margin-top: -5px;
}

div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(5) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(6) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(7) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(9) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(12) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(13) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(15) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(16) div table.stiJsViewerClearAllStyles,
div.stiJsViewerToolBar .stiJsViewerToolBarTable td:nth-child(18) div table.stiJsViewerClearAllStyles {
    margin-top: 0;
}

div.stiJsViewerMenu {
    border-radius: var(--borderRadiusSmallest, 5px);
    box-shadow: none;
    border-color: var(--colorDefault10, #d6daeb);
    margin-top: -3px;
}

/* Treeview */
.k-treeview .k-in.k-state-hover,
.k-treeview .k-in.k-state-selected {
    color: var(--colorNeutral00, #FFFFFF);
    background-color: var(--colorDefault40, #1351b4);
}

.k-treeview .k-item {
    color: var(--colorDefault40, #1351b4);
    background-color: var(--colorDefault10, #d6daeb);
    border-radius: var(--borderRadiusExtraSmall, 10px);
}


/* Signatura Pdd */
div[id^="crn-signature-pad"] canvas {
    background-color: var(--colorNeutral00, #FFFFFF);
    border-radius: var(--borderRadiusSmallest, 5px);
    border: 1px solid var(--colorNeutral40, #C7C7C7);
}

/* Arrows */
.glyphicon-chevron-left,
.glyphicon-chevron-right,
.k-button-decrease>span,
.k-button-increase>span,
.k-nav-prev>span,
.k-nav-next>span,
.k-nav-prev a>span,
.k-nav-next a>span,
.k-pager-nav>span {
    font-family: 'Glyphicons Halflings';
    color: var(--colorNeutral00, #FFFFFF);
    top: -4px;
}

.k-link.k-pager-nav,
.k-link.k-pager-nav:hover,
.k-scheduler .k-nav-prev a>span,
.k-scheduler .k-nav-next a>span {
    color: var(--colorDefault40, #1351b4);
}

.k-link.k-pager-nav.k-state-disabled {
    color: var(--colorDefault20, #aeb7da);
}

.k-link.k-pager-nav.k-state-disabled:hover {
    color: var(--colorDefault30, #7c8ec8);
    background-color: var(--colorNeutral10, #F1F1F1);
    border-radius: var(--borderRadiusFull, 99999px);
}

.k-icon.k-i-arrow-60-left:before,
.glyphicon-chevron-left:before {
    content: "\e079";
}

.k-icon.k-i-arrow-60-right:before,
.glyphicon-chevron-right:before {
    content: "\e080";
}

.k-i-arrow-end-left:before {
    content: "\e069";
}

.k-i-arrow-end-right:before {
    content: "\e077";
}

/* User Grid Search Input */
#crn-datasource-filter-general .form-group input {
    width: 100%;
}