/* theme */

.checkbox-theme .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-theme .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-theme .k-radio:focus+.k-radio-label:before,
.checkbox-theme .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorDefault40);
    border-color: var(--colorDefault40);
}

.checkbox-theme .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-theme .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--colorDefault40);
    background-color: var(--colorDefault40);
    color: var(--textColorDefault40);
}

.checkbox-theme .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-theme .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorDefault50);
    border-color: var(--colorDefault40);
}

/* primary */

.checkbox-primary .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-primary .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-primary .k-radio:focus+.k-radio-label:before,
.checkbox-primary .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorPrimary40);
    border-color: var(--colorPrimary40);
}

.checkbox-primary .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-primary .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--colorPrimary40);
    background-color: var(--colorPrimary40);
    color: var(--textColorPrimary40);
}

.checkbox-primary .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-primary .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorPrimary50);
    border-color: var(--colorPrimary40);
}

/* success */

.checkbox-success .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-success .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-success .k-radio:focus+.k-radio-label:before,
.checkbox-success .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorSuccess40);
    border-color: var(--colorSuccess40);
}

.checkbox-success .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-success .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--colorSuccess40);
    background-color: var(--colorSuccess40);
    color: var(--textColorSuccess40);
}

.checkbox-success .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-success .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorSuccess50);
    border-color: var(--colorSuccess40);
}

/* info */

.checkbox-info .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-info .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-info .k-radio:focus+.k-radio-label:before,
.checkbox-info .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorCalm40);
    border-color: var(--colorCalm40);
}

.checkbox-info .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-info .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--colorCalm40);
    background-color: var(--colorCalm40);
    color: var(--textColorCalm40);
}

.checkbox-info .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-info .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorCalm50);
    border-color: var(--colorCalm40);
}

/* warning */

.checkbox-warning .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-warning .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-warning .k-radio:focus+.k-radio-label:before,
.checkbox-warning .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorWarning40);
    border-color: var(--colorWarning40);
}

.checkbox-warning .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-warning .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--colorWarning40);
    background-color: var(--colorWarning40);
    color: var(--textColorWarning40);
}

.checkbox-warning .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-warning .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorWarning50);
    border-color: var(--colorWarning40);
}

/* danger */

.checkbox-danger .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-danger .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-danger .k-radio:focus+.k-radio-label:before,
.checkbox-danger .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorDanger40);
    border-color: var(--colorDanger40);
}

.checkbox-danger .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-danger .k-checkbox:indeterminate+.k-checkbox-label:before {
    /* border-color: var(--colorDanger40); */
    background-color: var(--colorDanger40);
    color: var(--textColorDanger40);
}

.checkbox-danger .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-danger .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorDanger50);
    border-color: var(--colorDanger40);
}

/* light */

.checkbox-light .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light .k-radio:focus+.k-radio-label:before,
.checkbox-light .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--colorLight40);
    border-color: var(--colorLight40);
}

.checkbox-light .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--colorLight40);
    color: var(--textColorLight40);
}

.checkbox-light .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--colorLight50);
    border-color: var(--colorLight40);
}

















/* white */

.checkbox-white .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-white .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-white .k-radio:focus+.k-radio-label:before,
.checkbox-white .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #707070;
    border-color: #707070;
}

.checkbox-white .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-white .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #707070;
    background-color: #707070;
}

.checkbox-white .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-white .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--white);
    border-color: #707070;
    color: var(--black);
}

/* gray */

.checkbox-gray .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-gray .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-gray .k-radio:focus+.k-radio-label:before,
.checkbox-gray .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #707070;
    border-color: #707070;
}

.checkbox-gray .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-gray .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #707070;
    background-color: #707070;
}

.checkbox-gray .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-gray .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--gray);
    border-color: #707070;
}

/* black */

.checkbox-black .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-black .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-black .k-radio:focus+.k-radio-label:before,
.checkbox-black .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #707070;
    border-color: #707070;
}

.checkbox-black .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-black .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #707070;
    background-color: #707070;
}

.checkbox-black .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-black .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--black);
    border-color: #707070;
}

/* blue */

.checkbox-blue .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-blue .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-blue .k-radio:focus+.k-radio-label:before,
.checkbox-blue .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--light-blue);
    border-color: var(--light-blue);
}

.checkbox-blue .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-blue .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}

.checkbox-blue .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-blue .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--blue);
    border-color: var(--light-blue);
}

/* light blue */

.checkbox-light-blue .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-blue .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-blue .k-radio:focus+.k-radio-label:before,
.checkbox-light-blue .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #3155b8;
    border-color: #3155b8;
}

.checkbox-light-blue .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-blue .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #3155b8;
    background-color: #3155b8;
}

.checkbox-light-blue .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-blue .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-blue);
    border-color: #3155b8;
}

/* Dark blue */

.checkbox-dark-blue .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-blue .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-blue .k-radio:focus+.k-radio-label:before,
.checkbox-dark-blue .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #4869c7;
    border-color: #4869c7;
}

.checkbox-dark-blue .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-blue .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #4869c7;
    background-color: #4869c7;
}

.checkbox-dark-blue .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-blue .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-blue);
    border-color: #4869c7;
}

/* Purple */

.checkbox-purple .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-purple .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-purple .k-radio:focus+.k-radio-label:before,
.checkbox-purple .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #8645f4;
    border-color: #8645f4;
}

.checkbox-purple .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-purple .k-checkbox:indeterminate+.k-checkbox-label:before {
    border-color: #8645f4;
    background-color: #8645f4;
}

.checkbox-purple .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-purple .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--purple);
    border-color: #8645f4;
}

/* Light purple */

.checkbox-light-purple .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-purple .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-purple .k-radio:focus+.k-radio-label:before,
.checkbox-light-purple .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #6b4ba2;
    border-color: #6b4ba2;
}

.checkbox-light-purple .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-purple .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #6b4ba2;
}

.checkbox-light-purple .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-purple .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-purple);
    border-color: #6b4ba2;
}

/* dark-purple */

.checkbox-dark-purple .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-purple .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-purple .k-radio:focus+.k-radio-label:before,
.checkbox-dark-purple .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #6b4ba2;
    border-color: #6b4ba2;
}

.checkbox-dark-purple .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-purple .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #6b4ba2;
}

.checkbox-dark-purple .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-purple .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-purple);
    border-color: #6b4ba2;
}

/* red */

.checkbox-red .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-red .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-red .k-radio:focus+.k-radio-label:before,
.checkbox-red .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #680f06;
    border-color: #680f06;
}

.checkbox-red .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-red .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #680f06;
}

.checkbox-red .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-red .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--red);
    border-color: #680f06;
}

/* light-red */

.checkbox-light-red .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-red .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-red .k-radio:focus+.k-radio-label:before,
.checkbox-light-red .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--dark-red);
    border-color: var(--dark-red);
}

.checkbox-light-red .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-red .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--dark-red);
}

.checkbox-light-red .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-red .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-red);
    border-color: var(--dark-red);
}

/* dark-red */

.checkbox-dark-red .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-red .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-red .k-radio:focus+.k-radio-label:before,
.checkbox-dark-red .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--light-red);
    border-color: var(--light-red);
}

.checkbox-dark-red .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-red .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--light-red);
}

.checkbox-dark-red .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-red .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-red);
    border-color: var(--light-red);
}

/* orange */

.checkbox-orange .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-orange .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-orange .k-radio:focus+.k-radio-label:before,
.checkbox-orange .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--light-orange);
    border-color: var(--light-orange);
}

.checkbox-orange .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-orange .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--light-orange);
}

.checkbox-orange .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-orange .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--orange);
    border-color: var(--light-orange);
}

/* light-orange */

.checkbox-light-orange .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-orange .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-orange .k-radio:focus+.k-radio-label:before,
.checkbox-light-orange .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--dark-orange);
    border-color: var(--dark-orange);
}

.checkbox-light-orange .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-orange .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--dark-orange);
}

.checkbox-light-orange .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-orange .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-orange);
    border-color: var(--dark-orange);
    color: #492b10;
}

/* dark-orange */

.checkbox-dark-orange .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-orange .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-orange .k-radio:focus+.k-radio-label:before,
.checkbox-dark-orange .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #cd9946;
    border-color: #cd9946;
}

.checkbox-dark-orange .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-orange .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #cd9946;
}

.checkbox-dark-orange .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-orange .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-orange);
    border-color: #cd9946;
}

/* yellow */

.checkbox-yellow .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-yellow .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-yellow .k-radio:focus+.k-radio-label:before,
.checkbox-yellow .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--dark-yellow);
    border-color: var(--dark-yellow);
}

.checkbox-yellow .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-yellow .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--dark-yellow);
}

.checkbox-yellow .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-yellow .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--yellow);
    border-color: var(--dark-yellow);
    color: #474432;
}

/* light-yellow */

.checkbox-light-yellow .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-yellow .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-yellow .k-radio:focus+.k-radio-label:before,
.checkbox-light-yellow .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--dark-yellow);
    border-color: var(--dark-yellow);
}

.checkbox-light-yellow .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-yellow .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--dark-yellow);
}

.checkbox-light-yellow .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-yellow .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-yellow);
    border-color: var(--dark-yellow);
    color: #474432;
}

/* dark-yellow */

.checkbox-dark-yellow .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-yellow .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-yellow .k-radio:focus+.k-radio-label:before,
.checkbox-dark-yellow .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #dddd7c;
    border-color: #dddd7c;
}

.checkbox-dark-yellow .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-yellow .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #dddd7c;
}

.checkbox-dark-yellow .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-yellow .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-yellow);
    border-color: #dddd7c;
}

/* green */

.checkbox-green .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-green .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-green .k-radio:focus+.k-radio-label:before,
.checkbox-green .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #24470c;
    border-color: #24470c;
}

.checkbox-green .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-green .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #24470c;
}

.checkbox-green .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-green .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--green);
    border-color: #24470c;
}

/* light-green */

.checkbox-light-green .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-light-green .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-light-green .k-radio:focus+.k-radio-label:before,
.checkbox-light-green .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 var(--dark-green);
    border-color: var(--dark-green);
}

.checkbox-light-green .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-light-green .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: var(--dark-green);
}

.checkbox-light-green .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-light-green .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--light-green);
    border-color: var(--dark-green);
    color: #24470c;
}

/* dark-green */

.checkbox-dark-green .k-checkbox:focus+.k-checkbox-label:before,
.checkbox-dark-green .k-checkbox:hover+.k-checkbox-label:before,
.checkbox-dark-green .k-radio:focus+.k-radio-label:before,
.checkbox-dark-green .k-radio:hover+.k-radio-label:before {
    box-shadow: 0 0 5px 0 #66B032;
    border-color: #66B032;
}

.checkbox-dark-green .k-checkbox:checked+.k-checkbox-label:before,
.checkbox-dark-green .k-checkbox:indeterminate+.k-checkbox-label:before {
    background-color: #66B032;
}

.checkbox-dark-green .k-checkbox:checked+.k-checkbox-label:after,
.checkbox-dark-green .k-checkbox:indeterminate+.k-checkbox-label:after {
    background-color: var(--dark-green);
    border-color: #66B032;
}