.k-grid-header .k-header {
    position: relative;
    vertical-align: bottom;
    padding: 12px;
    background-color: var(--backgroundColor40, #ffffff);
    color: var(--textColor40, #393939);
}

.k-grid-header:first-child th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:last-child,
thead.k-grid-header th.k-header:first-child {
    border-radius: 0;
}

.k-grid-header th.k-with-icon .k-link {
    float: left;
    color: var(--textColorDefault40, #ffffff);
    padding: 12px;
}

.k-rtl .k-grid-header:first-child th.k-header:first-child,
.k-rtl thead.k-grid-header th.k-header:first-child,
thead.k-grid-header th.k-header:last-child,
.k-header>.k-grid-filter,
.k-header>.k-header-column-menu {
    padding: 12px;
    border-radius: 0;
}

.k-grid-header .k-link .k-icon.k-i-sort-asc-sm,
.k-grid-header .k-link .k-icon.k-i-sort-desc-sm {
    margin-top: 0;
    color: var(--textColorDefault40, #ffffff);
}

.crn-grid-title {
    color: var(--colorDefault40, #3b448e);
}

.k-grid-toolbar .k-button {
    color: var(--colorDefault40, #3b448e);
    text-transform: uppercase;
    transition: 200ms;
}

.k-grid-toolbar {
    padding: 14px;
    border-width: 0 0 1px;
    background-color: var(--backgroundColor40, #ffffff);
}

.k-editor,
.k-grid,
.k-menu,
.k-scheduler,
.k-grid-header:first-child,
.k-grid-toolbar:first-child,
.k-grid>.k-grouping-header,
.k-grid-pager,
.k-scheduler-footer,
.k-scheduler>.k-scheduler-toolbar:first-child {
    border-radius: 0;
}

.k-grid-header {
    font-size: 16px;
}

.k-grid-header .k-header:focus,
.k-grid-header .k-header a.k-link:focus {
    color: var(--colorWarning40, #ffc900);
    opacity: 1;
}

.k-grid-header .k-header:hover .k-link .k-icon,
.k-grid-header .k-header:hover,
.k-grid-header .k-header:hover a,
.k-grid-header .k-grid-filter:focus {
    color: var(--colorWarning40, #ffc900);
}

.k-grid-header .k-header {
    position: relative;
    vertical-align: bottom;
    padding: 12px;
    background-color: var(--colorDefault40, #3b448e);
    color: var(--textColorDefault40, #ffffff);
}

.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td,
.k-state-selected {
    background-color: var(--colorPrimary30, #222222);
    color: var(--textColor40, #ffffff);
}

.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    background-color: var(--colorDefault40, #222222);
    color: var(--textColorDefault40, #ffffff);
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

.k-pager-wrap .k-state-selected {
    color: #fff;
    background-color: var(--colorDefault40, #3b448e);
    border-radius: 999px;
}

.k-pager-wrap .k-link.k-pager-last,
.k-pager-wrap .k-pager-nav,
.k-pager-wrap .k-pager-numbers .k-link,
.k-pager-wrap .k-pager-numbers .k-state-selected,
.k-pager-wrap>.k-link {
    border-radius: 50%;
    border-color: transparent;
    border: 0;
    box-shadow: none;
}

.k-grid-toolbar .k-button {
    text-transform: uppercase;
    transition: 200ms;
    border: 0;
    padding: 6px 20px;
}


.k-grid-toolbar .k-button.k-grid-add {
    color: var(--colorDefault40, #3b448e);
}

.k-grid-toolbar .k-button:hover {
    background-color: var(--colorDefault40, #3b448e);
    text-transform: uppercase;
    color: #fff;
    transition: 200ms;
}

.k-grid-pager {
    padding: 10px;
    border-width: 1px 0 0;
    border-color: inherit;
    font-size: inherit;
}

.k-pager-wrap .k-link:focus,
.k-pager-wrap .k-pager-nav:focus {
    background-color: rgba(0, 0, 0, 0.07);
}

.k-pager-wrap a.k-pager-refresh {
    background-color: var(--backgroundColor40, #ffffff);
    color: var(--colorDefault40, #3b448e);
}

.k-pager-wrap a.k-pager-refresh:hover {
    background-color: var(--colorDefault40, #3b448e);
    color: var(--textColorDefault40, #ffffff);
}

.k-pager-wrap .k-pager-nav {
    color: #000;
}

.k-pager-wrap {
    background-color: var(--backgroundColor40);
}

.k-pager-nav.k-pager-first+.k-link {
    border: 0;
}

.k-autocomplete.k-state-default,
.k-dropdown-wrap.k-state-default,
.k-multiselect-wrap,
.k-numeric-wrap.k-state-default,
.k-picker-wrap.k-state-default {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--textColor30, #393939);
    box-shadow: none;
}

.k-popup .k-list .k-state-focused {
    box-shadow: none;
    background-color: var(--backgroundColor50, #dfdfdf);
}

.k-button-icontext .k-icon,
.k-button-icontext .k-image,
.k-button-icontext .k-sprite {
    margin: 0;
}