.navbar {
    background-image: none;
    background-color: var(--colorDefault40, #0f172a);
    border-bottom: none;
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorDefault40, #555555);
    border: none
}

.navbar-inverse .badge {
    background-color: #ffffff;
    color: var(--textColor20, #b2b2b2);
}

.navbar-default #navbar .navbar-nav li a,
.navbar-default #navbar2 .navbar-nav li a {
    color: var(--textColorDefault40, #ffffff);
    font-size: var(--textMediumSize, 16px);
}

.navbar-default #navbar .navbar-nav li a:hover,
.navbar-default #navbar2 .navbar-nav li a:hover,
.navbar-default #navbar .navbar-nav li .dropdown-menu li a:hover,
.navbar-default #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--textColorDefault60, #ffffff);
    background-color: var(--colorDefault70, #20254e);
}

.navbar-default #navbar .navbar-nav li .dropdown-menu li a:hover,
.navbar-default #navbar2 .navbar-nav li .dropdown-menu li a:hover {
    color: var(--textColorDefault40, #ffffff);
    background-color: var(--colorDefault40, #3b448e);
    border-radius: 0;
}

.dropdown-menu {
    color: var(--textColor40, #111111);
    font-size: var(--textMediumSize, 16px);
    background-color: var(--backgroundColor40, #ffffff);
}

.navbar-default #navbar .navbar-nav li .dropdown-menu a,
.navbar-default #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor40, #111111);
    margin: 0;
}

.navbar-default #navbar2 .navbar-nav .dropdown-menu {
    margin-top: -1px;
}