.panel {
    background-color: var(--backgroundColor40, #ffffff);
    border: 1px solid ;
    /* border-radius: 1rem; */
}


/* Default */
.panel-default .panel-heading{
    color: var(--textColorDefault40, #ffffff);
    background-color: var(--colorDefault40, #3b448e);
}

.panel-default .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-default {
    border-color: var(--colorDefault40, #3b448e);
}

/* Primary */
.panel-primary .panel-heading{
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #3b448e);
}

.panel-primary .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-primary {
    border-color: var(--colorPrimary40, #3b448e);
}

/* Sucess */

.panel-success .panel-heading{
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess40, #3b448e);
}

.panel-success .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-success {
    border-color: var(--colorSuccess40, #3b448e);
}

/* Info */
.panel-info .panel-heading{
    color: var(--textColorCalm40, #ffffff);
    background-color: var(--colorCalm40, #3b448e);
}

.panel-info .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-info {
    border-color: var(--colorCalm40, #3b448e);
}

/* Warning */
.panel-warning .panel-heading{
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning40, #3b448e);
}

.panel-warning .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-warning {
    border-color: var(--colorWarning40, #3b448e);
}

/* Danger */
.panel-danger .panel-heading{
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger40, #3b448e);
}

.panel-danger .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-danger {
    border-color: var(--colorDanger40, #3b448e);
}

/* Light */
.panel-light .panel-heading{
    color: var(--textColorlight40, #ffffff);
    background-color: var(--colorLight40, #3b448e);
}

.panel-light .panel-footer {
    color: var(--textColor40, #393939);
    background-color: var(--backgroundColor50, #dfdfdf);
}

.panel-light {
    border-color: var(--colorlLight40, #3b448e);
}