@import url("font/fonts.css");
@import 'panel-lumen.css';
@import 'navbar-lumen.css';
@import 'button-lumen.css';

/* ==== VARIABLES ==== */
:root {

    /* Font */
    --fontFamily: "Source Sans Pro", "Calibri", "Candara", Arial, sans-serif;
    --textColor: #222222;
    --backgroundColor: #ffffff;

    --textSmallSize: 12px;
    --textNormalSize: 14px;
    --textMediumSize: 16px;
    --textBigSize: 18px;
    --textExtraBigSize: 23px;

    --textColor10: #d6d6d6;
    --textColor20: #afafaf;
    --textColor30: #7f7f7f;
    --textColor40: #222222;
    --textColor50: #1e1e1e;
    --textColor60: #191919;
    --textColor70: #131313;

    /* Menus - Sizes and Distances */
    --menuVerticalWidth: 270px;
    --menuSideSize: 20px;
    --menuItemBarSize: 6px;
    --menuElementOverallPadding: 10px;
    --menuItemPaddingSize: calc(var(--menuElementOverallPadding) + 5px);
    --menuItemIconWidth: 25px;

    /* Background */
    --backgroundColor10: #ffffff;
    --backgroundColor20: #ffffff;
    --backgroundColor30: #ffffff;
    --backgroundColor40: #ffffff;
    --backgroundColor50: #dfdfdf;
    --backgroundColor60: #bbbbbb;
    --backgroundColor70: #8c8c8c;

    /* Distances */
    --distanceNone: 0;
    --distanceSmallest: 5px;
    --distanceExtraSmall: 10px;
    --distanceSmall: 15px;
    --distanceMedium: 20px;
    --distanceBig: 30px;
    --distanceGiant: 40px;
    --distanceTitan: 60px;

    /* Border Radius */
    --borderRadiusNone: 0;
    --borderRadiusSmallest: 5px;
    --borderRadiusExtraSmall: 10px;
    --borderRadiusSmall: 15px;
    --borderRadiusBig: 30px;
    --borderRadiusGiant: 40px;
    --borderRadiusTitan: 60px;
    --borderRadiusFull: 99999px;

    /* Color - Theme default */
    --colorDefault10: #fbfbfb;
    --colorDefault20: #f7f7f7;
    --colorDefault30: #f4f4f4;
    --colorDefault40: #f0f0f0;
    --colorDefault50: #d2d2d2;
    --colorDefault60: #b0b0b0;
    --colorDefault70: #838383;
    --textColorDefault10: #131313;
    --textColorDefault20: #191919;
    --textColorDefault30: #1e1e1e;
    --textColorDefault40: #222222;
    --textColorDefault50: #7f7f7f;
    --textColorDefault60: #afafaf;
    --textColorDefault70: #d6d6d6;

    /* Color - Primary - positive */
    --colorPrimary10: #d6e3ec;
    --colorPrimary20: #aecadd;
    --colorPrimary30: #7daecc;
    --colorPrimary40: #158cba;
    --colorPrimary50: #127ba3;
    --colorPrimary60: #0f6788;
    --colorPrimary70: #0c4d66;
    --textColorPrimary10: #8c8c8c;
    --textColorPrimary20: #bbbbbb;
    --textColorPrimary30: #dfdfdf;
    --textColorPrimary40: #ffffff;
    --textColorPrimary50: #ffffff;
    --textColorPrimary60: #ffffff;
    --textColorPrimary70: #ffffff;

    /* Color - Success - balanced */
    --colorSuccess10: #d6ebd7;
    --colorSuccess20: #b0dbb1;
    --colorSuccess30: #80c981;
    --colorSuccess40: #28b62c;
    --colorSuccess50: #239f27;
    --colorSuccess60: #1d8520;
    --colorSuccess70: #166418;
    --textColorSuccess10: #8c8c8c;
    --textColorSuccess20: #bbbbbb;
    --textColorSuccess30: #dfdfdf;
    --textColorSuccess40: #ffffff;
    --textColorSuccess50: #ffffff;
    --textColorSuccess60: #ffffff;
    --textColorSuccess70: #ffffff;

    /* Color - Warning (web) - energized (mobile) */
    --colorWarning10: #ffe1d6;
    --colorWarning20: #ffc7af;
    --colorWarning30: #ffaa7d;
    --colorWarning40: #ff851b;
    --colorWarning50: #df7418;
    --colorWarning60: #bb6114;
    --colorWarning70: #8c490f;
    --textColorWarning10: #8c8c8c;
    --textColorWarning20: #bbbbbb;
    --textColorWarning30: #dfdfdf;
    --textColorWarning40: #ffffff;
    --textColorWarning50: #ffffff;
    --textColorWarning60: #ffffff;
    --textColorWarning70: #ffffff;

    /* Color - Danger (web) - assertive (mobile) */
    --colorDanger10: #ffd8d7;
    --colorDanger20: #ffb4b2;
    --colorDanger30: #ff8884;
    --colorDanger40: #ff4136;
    --colorDanger50: #df392f;
    --colorDanger60: #bb3028;
    --colorDanger70: #8c241e;
    --textColorDanger10: #8c8c8c;
    --textColorDanger20: #bbbbbb;
    --textColorDanger30: #dfdfdf;
    --textColorDanger40: #ffffff;
    --textColorDanger50: #ffffff;
    --textColorDanger60: #ffffff;
    --textColorDanger70: #ffffff;

    /* Color - Royal (mobile) */
    --colorRoyal10: #e2ddf9;
    --colorRoyal20: #c8bef4;
    --colorRoyal30: #ab9aef;
    --colorRoyal40: #886aea;
    --colorRoyal50: #775dcd;
    --colorRoyal60: #644eab;
    --colorRoyal70: #4a3a80;

    --textColorRoyal10: #8c8c8c;
    --textColorRoyal20: #bbbbbb;
    --textColorRoyal30: #dfdfdf;
    --textColorRoyal40: #ffffff;
    --textColorRoyal50: #ffffff;
    --textColorRoyal60: #ffffff;
    --textColorRoyal70: #ffffff;

    /* Color - Calm (mobile) */
    --colorCalm10: #dff0f9;
    --colorCalm20: #c2e4f4;
    --colorCalm30: #a0d8f0;
    --colorCalm40: #75caeb;
    --colorCalm50: #66b1ce;
    --colorCalm60: #5694ac;
    --colorCalm70: #406f81;
    --textColorCalm10: #8c8c8c;
    --textColorCalm20: #bbbbbb;
    --textColorCalm30: #dfdfdf;
    --textColorCalm40: #ffffff;
    --textColorCalm50: #ffffff;
    --textColorCalm60: #ffffff;
    --textColorCalm70: #ffffff;

    /* Color - Light (mobile) */
    --colorLight10: #fcfcfc;
    --colorLight20: #fafafa;
    --colorLight30: #f8f8f8;
    --colorLight40: #f6f6f6;
    --colorLight50: #d7d7d7;
    --colorLight60: #b4b4b4;
    --colorLight70: #878787;
    --textColorLight10: #131313;
    --textColorLight20: #191919;
    --textColorLight30: #1e1e1e;
    --textColorLight40: #222222;
    --textColorLight50: #7f7f7f;
    --textColorLight60: #afafaf;
    --textColorLight70: #d6d6d6;

    /* Color - Stable (mobile) */
    --colorStable10: #fdfdfd;
    --colorStable20: #fbfbfb;
    --colorStable30: #fafafa;
    --colorStable40: #f8f8f8;
    --colorStable50: #d9d9d9;
    --colorStable60: #b6b6b6;
    --colorStable70: #888888;

    --textColorStable10: #252525;
    --textColorStable20: #323232;
    --textColorStable30: #3c3c3c;
    --textColorStable40: #444444;
    --textColorStable50: #898989;
    --textColorStable60: #b5b5b5;
    --textColorStable70: #d9d9d9;

    /* Color - Dark (mobile) */
    --colorDark10: #dadada;
    --colorDark20: #b8b8b8;
    --colorDark30: #909090;
    --colorDark40: #555555;
    --colorDark50: #4a4a4a;
    --colorDark60: #3e3e3e;
    --colorDark70: #2f2f2f;
    --textColorDark10: #8c8c8c;
    --textColorDark20: #bbbbbb;
    --textColorDark30: #dfdfdf;
    --textColorDark40: #ffffff;
    --textColorDark50: #ffffff;
    --textColorDark60: #ffffff;
    --textColorDark70: #ffffff;

    /* Color - Neutral (web e mobile) */
    --colorNeutral00: #FFFFFF;
    --colorNeutral10: #F1F1F1;
    --colorNeutral20: #E3E3E3;
    --colorNeutral30: #D5D5D5;
    --colorNeutral40: #C7C7C7;
    --colorNeutral50: #B9B9B9;
    --colorNeutral60: #ACACAC;
    --colorNeutral70: #9E9E9E;
    --colorNeutral80: #909090;
    --colorNeutral90: #828282;
    --colorNeutral100: #747474;
    --colorNeutral110: #666666;
    --colorNeutral120: #5D5D5D;
    --colorNeutral130: #535353;
    --colorNeutral140: #4A4A4A;
    --colorNeutral150: #414141;
    --colorNeutral160: #383838;
    --colorNeutral170: #2E2E2E;
    --colorNeutral180: #252525;
    --colorNeutral190: #1C1C1C;
    --colorNeutral200: #131313;
    --colorNeutral210: #090909;
    --colorNeutral220: #000000;
}


/* Grid */
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
    background-color: var(--colorPrimary40, #158cba);
}

/* Button */
.btn.btn-link i,
.btn.btn-link span,
.btn.btn-link:focus,
.btn.btn-link:hover,
.btn.btn-link.disabled,
.btn.btn-link[disabled]:hover,
div#view-canvas .btn.btn-link.disabled {
    color: var(--colorPrimary40, #158cba);
}


/* Page login */
.siginPanel,
.login-view {
    background-color: var(--backgroundColor40, #ffffff);
}

#crn-botao-cadastre,
.login-view .sign-up,
.crn-anchor-signup-back {
    color: var(--textColor40, #222222);
}

/* Link */
a,
a:focus,
a:active {
    color: var(--colorPrimary40, #158cba);
}

a:hover {
    color: var(--colorPrimary40, #158cba);
}

/* Input */

.k-autocomplete .k-input,
.k-multiselect-wrap,
.k-textbox>input,
.form-control {
    border-color: var(--backgroundColor50, #dfdfdf);
    border-top: 2px solid var(--backgroundColor50, #dfdfdf);
}

/* Abas */
.ctn-tab .nav-tabs li a:hover {
    color: var(--textColorLight30, #98978b);
    background-color: var(--colorLight40, #f8f5f0);
    border: 1px solid var(--colorLight50, #98978b);
}

.ctn-tab .nav-tabs li a {
    color: var(--textColorLight30, #1e1e1e);
    border-radius: 4px 4px 0 0;
    background-color: var(--backgroundColor40, #ffffff);
    border: 1px solid var(--colorLight50, #d7d7d7);
    margin-top: 2px;
    bottom: 1px;
}

.ctn-tab .nav-tabs li {
    margin-right: 2px;
}

.ctn-tab .nav-tabs li.active {
    border: 1px solid var(--colorLight50, #d7d7d7);
    background-color: var(--backgroundColor40, #ffffff);
    bottom: 1px;
    border-bottom: 1px solid var(--backgroundColor40, #ffffff);
    padding-bottom: 8px;
}

.ctn-tab .nav-tabs {
    border-bottom: 1px solid var(--colorLight50, #d7d7d7);
    display: flex;
    align-items: flex-end;
}

.ctn-tab .nav-tabs li.active a,
.ctn-tab .nav-tabs li.active a:hover {
    background-color: var(--backgroundColor40, #ffffff);
    color: var(--textColorLight30, #1e1e1e);
    border: 0;
    margin-top: 0;
}

/* Banner */
.jumbotron {
    background-color: var(--colorLight20, #fafafa);
    border: 1px solid var(--colorDefault40, #f0f0f0);
    border-top: 4px solid var(--colorDefault40, #f0f0f0);
}

.jumbotron .h1,
.jumbotron h1,
.jumbotron .h2,
.jumbotron h2 {
    color: var(--textColor40, #222222);
}

/* Slider */
.k-slider .k-slider-selection {
    background-color: var(--colorDefault30, #f4f4f4);
}

/* Treeview */
.k-treeview .k-in.k-state-hover,
.k-treeview .k-in.k-state-selected {
    color: var(--textColor40, #222222);
    background-color: var(--colorLight50, #d7d7d7);
}

.k-treeview .k-item {
    color: var(--textColor40, #222222);
    background-color: var(--colorLight40, #f6f6f6);
}