.navbar {
    background-image: none;
    background-color: var(--colorDefault30, #f4f4f4);
    border-bottom: 4px solid var(--backgroundColor50, #dfdfdf);
}

.crn-navigator-vertical .navbar {
    border-right: 4px solid var(--backgroundColor50, #dfdfdf);
}

.navbar-inverse {
    background-image: none;
    background-color: var(--backgroundColor40, #ffffff);
    border: none
}

.navbar-inverse .badge {
    background-color: var(--textColor40, #222222);
    color: var(--backgroundColor40, #ffffff);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColor30, #7f7f7f);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--textColor40, #222222);
    background-color: transparent;
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover {
    color: var(--textColor40, #222222);
    background-color: transparent;
}

.dropdown-menu {
    color: var(--textColor30, #7f7f7f);
    background-color: var(--backgroundColor40, #ffffff);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor30, #3e3f3a);
}