.navbar {
    background-image: none;
    background-color: var(--backgroundColor40, #ffffff);
    border-bottom: 1px solid var(--colorDefault50, #dfdfdf);
}

.crn-navigator-vertical .navbar {
    border-right: 1px solid var(--colorDefault50, #dfdfdf);
}

.navbar-inverse {
    background-image: none;
    background-color: var(--backgroundColor40, #ffffff);
    border: none
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorPrimary40, #4582ec);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--colorPrimary40, #4582ec);
    font-size: var(--textNormalSize, 14px);
    margin: 12.5px 6px;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 4px
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--colorPrimary40, #4582ec);
    background-color: var(--backgroundColor40, #ffffff);
    border: 1px solid var(--colorDefault50, #dfdfdf);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #e95420);
    border: 0;
}

.dropdown-menu {
    color: var(--textColor40, #333333);
    background-color: var(--backgroundColor40, #ffffff);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor40, #333333);
    margin: 0;
    border-radius: 0;
    padding: 3px 20px;
}

.navbar-nav li a:hover,
.navbar-nav .active a,
.navbar-nav .active a:hover {
    border: 1px solid var(--colorDefault50, #dfdfdf);
}

.navbar-default .navbar-nav .active a:hover {
    color: var(--colorPrimary40, #4582ec);
}

.navbar-inverse .navbar-nav .active a:hover {
    color: var(--textColor40, #444444);
}