.navbar {
    background-image: none;
    background-color: var(--backgroundColor40, #ffffff);
    border-bottom: 1px solid var(--colorDefault50, #dfdfdf);
}

.crn-navigator-vertical .navbar {
    border-right: 1px solid var(--colorDefault50, #dfdfdf);
}

.navbar-inverse {
    background-image: none;
    background-color: var(--colorPrimary40, #eb6864);
    border: none
}

.navbar-inverse .badge {
    background-color: #fff;
    color: var(--colorPrimary40, #eb6864);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a {
    color: var(--textColor40, #222222);
    font-size: var(--textNormalSize, 14px);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--textColor40, #222222);
    background-color: var(--backgroundColor50, #dfdfdf);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu li a:hover,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu li a:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #eb6864);
}

.dropdown-menu {
    color: var(--textColor40, #222222);
    background-color: var(--backgroundColor40, #ffffff);
}

#main-nav-bar .navbar-default .container-fluid #navbar .navbar-nav li .dropdown-menu a,
#main-nav-bar .navbar-default .container-fluid #navbar2 .navbar-nav li .dropdown-menu a {
    color: var(--textColor40, #222222);
}