.panel {
    background-color: var(--backgroundColor40, #ffffff);
    box-shadow: none;
}

/* Default */
.panel-default .panel-heading,
.panel-default .panel-footer {
    color: var(--textColor40, #333333);
    background-color: var(--colorDefault10, #e9e9e9);
    border-color: var(--colorDefault20, #d6d6d6);
}

.panel-default {
    border-color: var(--colorDefault20, #d6d6d6);
}

/* Primary */

.panel-primary>.panel-heading,
.panel-primary>.panel-footer {
    color: var(--textColorPrimary40, #ffffff);
    background-color: var(--colorPrimary40, #eb6864);
    border-color: var(--colorPrimary50, #ce5b58);
}

.panel-primary {
    border-color: var(--colorPrimary50, #ce5b58);
}

/* Sucess */

.panel-success>.panel-heading,
.panel-success>.panel-footer {
    color: var(--textColorSuccess40, #ffffff);
    background-color: var(--colorSuccess40, #22b24c);
    border-color: var(--colorSuccess50, #1e9c43);
}

.panel-success {
    border-color: var(--colorSuccess50, #1e9c43);
}

/* Info */
.panel-info>.panel-heading,
.panel-info>.panel-footer {
    color: var(--textColorCalm40, #ffffff);
    background-color: var(--colorCalm40, #336699);
    border-color: var(--colorCalm50, #2d5986);
}

.panel-info {
    border-color: var(--colorCalm50, #2d5986);
}

/* Warning */
.panel-warning>.panel-heading,
.panel-warning>.panel-footer {
    color: var(--textColorWarning40, #ffffff);
    background-color: var(--colorWarning40, #f5e625);
    border-color: var(--colorWarning50, #d7c920);
}

.panel-warning {
    border-color: var(--colorWarning50, #d7c920);
}

/* Danger */
.panel-danger>.panel-heading,
.panel-danger>.panel-footer {
    color: var(--textColorDanger40, #ffffff);
    background-color: var(--colorDanger40, #d76b00);
    border-color: var(--colorDanger50, #b35900);
}

.panel-danger {
    border-color: var(--colorDanger50, #b35900);
}

/* Light */
.panel-light>.panel-heading,
.panel-light>.panel-footer {
    color: var(--textColorLight40, #444444);
    background-color: var(--colorLight40, #f8f9fa);
    border-color: var(--colorLight50, #d9dadb);
}

.panel-light {
    border-color: var(--colorLight50, #d9dadb);
}