.btn {
    background-color: var(--colorDefault40, #f5f5f5);
    text-align: center;
    color: var(--textColorDefault40, #444444);
    border: 1px solid;
}

.btn:focus:hover,
.k-button:focus:hover {
    box-shadow: none;
}

/* Default */
.btn.btn-default,
div#view-canvas .btn.btn-default {
    background-image: linear-gradient(var(--colorDefault20, #fafafa), var(--colorDefault30, #f7f7f7) 60%, var(--colorDefault40, #f5f5f5));
    border-color: var(--colorDefault50, #d7d7d7);
    color: var(--textColorDefault40, #444444);
}

.btn.btn-default.active,
.btn.btn-default:active {
    color: var(--textColorDefault40, #444444);
    background-image: none;
    box-shadow: none;
    background-color: var(--colorDefault50, #d7d7d7);
    border-color: var(--colorDefault50, #d7d7d7);
}

.btn.btn-default:focus,
.btn.btn-default:hover {
    color: var(--textColorDefault40, #444444);
    background-image: none;
    box-shadow: none;
    background-color: var(--colorDefault50, #d7d7d7);
    border-color: var(--colorDefault60, #b3b3b3);
}

.btn.btn-default.disabled,
.btn.btn-default[disabled],
.btn.btn-default:disabled,
.btn.btn-default[disabled]:hover,
div#view-canvas .btn.btn-default[disabled] {
    color: var(--textColorDefault40, #444444);
    background-image: none;
    background-color: var(--colorDefault40, #f5f5f5);
    border-color: var(--colorDefault40, #f5f5f5);
}

/* Primary */
.btn.btn-primary,
div#view-canvas .btn.btn-primary {
    background-image: linear-gradient(var(--colorPrimary30, #82bded), var(--colorPrimary40, #2fa4e7) 60%, var(--colorPrimary50, #3c6088));
    border-color: var(--colorPrimary40, #2fa4e7);
    color: var(--textColorPrimary40, #ffffff);
}

.btn.btn-primary.active,
.btn.btn-primary:active {
    color: var(--textColorPrimary40, #ffffff);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorPrimary60, #2278a9);
    border-color: var(--colorPrimary70, #1a5a7f);
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-image: linear-gradient(var(--colorPrimary30, #82bded), var(--colorPrimary50, #2990ca) 60%, var(--colorPrimary60, #2278a9));
}

.btn.btn-primary.disabled,
.btn.btn-primary[disabled],
div#view-canvas .btn.btn-primary[disabled] {
    color: var(--textColorPrimary40, #ffffff);
    background-image: none;
    background-color: var(--colorPrimary40, #2fa4e7);
    border-color: var(--colorPrimary40, #2fa4e7);
}

/* Success */
.btn.btn-success,
div#view-canvas .btn.btn-success {
    background-image: linear-gradient(var(--colorSuccess30, #9fc085), var(--colorSuccess40, #73a839) 60%, var(--colorSuccess50, #359e1d));
    border-color: var(--colorSuccess40, #73a839);
    color: var(--textColorSuccess40, #ffffff);
}

.btn.btn-success.active,
.btn.btn-success:active {
    color: var(--textColorSuccess40, #ffffff);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorSuccess60, #547b2a);
    border-color: var(--colorSuccess70, #216312);
}

.btn.btn-success:focus,
.btn.btn-success:hover {
    color: var(--textColorSuccess40, #ffffff);
    background-image: linear-gradient(var(--colorSuccess30, #9fc085), var(--colorSuccess50, #659332) 60%, var(--colorSuccess60, #547b2a));
}

.btn.btn-success.disabled,
.btn.btn-success[disabled],
div#view-canvas .btn.btn-success[disabled] {
    color: var(--textColorSuccess40, #ffffff);
    background-image: none;
    background-color: var(--colorSuccess40, #73a839);
    border-color: var(--colorSuccess40, #73a839);
}

/* Warning */
.btn.btn-warning,
div#view-canvas .btn.btn-warning {
    background-image: linear-gradient(var(--colorWarning30, #e5907b), var(--colorWarning40, #dd5600) 60%, var(--colorWarning50, #c24b00));
    border-color: var(--colorWarning40, #dd5600);
    color: var(--textColorWarning40, #ffffff);
}

.btn.btn-warning.active,
.btn.btn-warning:active {
    color: var(--textColorWarning40, #ffffff);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorWarning60, #a23f00);
    border-color: var(--colorWarning70, #792f00);
}

.btn.btn-warning:focus,
.btn.btn-warning:hover {
    color: var(--textColorWarning40, #ffffff);
    background-image: linear-gradient(var(--colorWarning30, #e5907b), var(--colorWarning50, #c24b00) 60%, var(--colorWarning60, #a23f00));
}

.btn.btn-warning.disabled,
.btn.btn-warning[disabled],
div#view-canvas .btn.btn-warning[disabled] {
    color: var(--textColorWarning40, #ffffff);
    background-image: none;
    background-color: var(--colorWarning40, #dd5600);
    border-color: var(--colorWarning40, #dd5600);
}

/* Danger */
.btn.btn-danger,
div#view-canvas .btn.btn-danger {
    background-image: linear-gradient(var(--colorDanger30, #d57e7f), var(--colorDanger40, #c71c22) 60%, var(--colorDanger50, #ae191e));
    border-color: var(--colorDanger40, #c71c22);
    color: var(--textColorDanger40, #ffffff);
}

.btn.btn-danger.active,
.btn.btn-danger:active {
    color: var(--textColorDanger40, #ffffff);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorDanger60, #921519);
    border-color: var(--colorDanger70, #6d0f13);
}

.btn.btn-danger:focus,
.btn.btn-danger:hover {
    color: var(--textColorDanger40, #ffffff);
    background-image: linear-gradient(var(--colorDanger30, #d57e7f), var(--colorDanger50, #ae191e) 60%, var(--colorDanger60, #921519));
}

.btn.btn-danger.disabled,
.btn.btn-danger[disabled],
div#view-canvas .btn.btn-danger[disabled] {
    color: var(--textColorDanger40, #ffffff);
    background-image: none;
    background-color: var(--colorDanger40, #c71c22);
    border-color: var(--colorDanger40, #c71c22);
}

/* Info */
.btn.btn-info,
div#view-canvas .btn.btn-info {
    background-image: linear-gradient(var(--colorCalm30, #7b869f), var(--colorCalm40, #033c73) 60%, var(--colorCalm50, #033565));
    border-color: var(--colorCalm40, #033c73);
    color: var(--textColorCalm40, #ffffff);
}

.btn.btn-info.active,
.btn.btn-info:active {
    color: var(--textColorCalm40, #ffffff);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorCalm60, #022c54);
    border-color: var(--colorCalm70, #02213f);
}

.btn.btn-info:focus,
.btn.btn-info:hover {
    color: var(--textColorCalm40, #ffffff);
    background-image: linear-gradient(var(--colorCalm30, #7b869f), var(--colorCalm50, #033565) 60%, var(--colorCalm60, #022c54));
}

.btn.btn-info.disabled,
.btn.btn-info[disabled],
div#view-canvas .btn.btn-info[disabled] {
    color: var(--textColorCalm40, #ffffff);
    background-image: none;
    background-color: var(--colorCalm40, #033c73);
    border-color: var(--colorCalm40, #033c73);
}

/* Light */
.btn.btn-light,
div#view-canvas .btn.btn-light {
    background-image: linear-gradient(var(--colorLight30, #ffffff), var(--colorLight40, #ffffff) 60%, var(--colorLight50, #dfdfdf));
    border-color: var(--colorLight40, #ffffff);
    color: var(--textColorLight40, #444444);
}

.btn.btn-light.active,
.btn.btn-light:active {
    color: var(--textColorLight40, #444444);
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    background-color: var(--colorLight60, #bbbbbb);
    border-color: var(--colorLight70, #8c8c8c);
}

.btn.btn-light:focus,
.btn.btn-light:hover {
    color: var(--textColorLight40, #444444);
    background-image: linear-gradient(var(--colorLight30, #ffffff), var(--colorLight50, #dfdfdf) 60%, var(--colorLight60, #bbbbbb));
}

.btn.btn-light.disabled,
.btn.btn-light[disabled],
div#view-canvas .btn.btn-light[disabled] {
    color: var(--textColorLight40, #444444);
    background-image: none;
    background-color: var(--colorLight40, #eeeeee);
    border-color: var(--colorLight40, #eeeeee);
}

/* Link */
.btn.btn-link,
div#view-canvas .btn.btn-link {
    background-image: none;
    background-color: transparent;
    border: none;
}

.btn.btn-link i,
.btn.btn-link span {
    color: var(--colorPrimary40, #2fa4e7);
}

.btn.btn-link.active,
.btn.btn-link:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.btn.btn-link.disabled,
.btn.btn-link[disabled]:hover,
div#view-canvas .btn.btn-link.disabled {
    color: var(--colorPrimary40, #2fa4e7);
}

.btn.btn-link:focus,
.btn.btn-link:hover {
    color: var(--colorPrimary40, #2fa4e7);
    text-decoration: underline;
    background-color: transparent;
}

.btn.btn-link:focus i,
.btn.btn-link:hover i {
    text-decoration: none;
}