.panel {
    background-color: var(--backgroundColor40, #ffffff);
    box-shadow: none;
}


/* Default */
.panel-default .panel-heading,
.panel-footer {
    color: var(--textColorDefault40, #444444);
    background-color: var(--colorDefault20, #fafafa);
}

/* Primary */

.panel-primary>.panel-heading {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorPrimary40, #2fa4e7);
}

/* Sucess */

.panel-success>.panel-heading {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorSuccess40, #73a839);
}


/* Info */
.panel-info>.panel-heading {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorCalm40, #033c73);
}

/* Warning */
.panel-warning>.panel-heading {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorWarning40, #dd5600);
}

/* Danger */
.panel-danger>.panel-heading {
    color: var(--textColor40, #ffffff);
    background-color: var(--colorDanger40, #c71c22);
}

/* Light */
.panel-light>.panel-heading {
    color: var(--textColorLight40, #444444);
    background-color: var(--colorLight40, #ffffff);
}