.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none;
}

.btn i {
    margin-right: 5px;
}

.btn span {
    margin-top: 2px;
    z-index: 0;
}

.btn {
    background-color: var(--colorDefault40, #474949);
    text-align: center;
    color: var(--textColorDefault40, #ffffff);
    border: 1px solid;
}

/* Button color */
/* Default */
.btn.btn-default {
    background-color: var(--colorDefault40);
    border-color: transparent;
    color: var(--textColorDefault40, #ffffff);
}

.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover {
    color: var(--textColorDefault40, #ffffff);
    background-image: none;
    background-color: var(--colorDefault50, #343535);
    border-color: transparent;
    outline: none;
}

/* Primary */
.btn.btn-primary {
    background-color: var(--colorPrimary40);
    border-color: transparent;
    color: var(--textColorPrimary40, #ffffff);
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
    color: var(--textColorPrimary40, #ffffff);
    background-image: none;
    background-color: var(--colorPrimary50, #343535);
    border-color: transparent;
    outline: none;
}

/* Success */
.btn.btn-success {
    background-color: var(--colorSuccess40);
    border-color: transparent;
    color: var(--textColorSuccess40, #ffffff);
}

.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover {
    color: var(--textColorSuccess40, #ffffff);
    background-image: none;
    background-color: var(--colorSuccess50, #343535);
    border-color: transparent;
    outline: none;
}

/* Warning */
.btn.btn-warning {
    background-color: var(--colorWarning40);
    border-color: transparent;
    color: var(--textColorWarning40, #ffffff);
}

.btn.btn-warning.active,
.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
    color: var(--textColorWarning40, #ffffff);
    background-image: none;
    background-color: var(--colorWarning50, #343535);
    border-color: transparent;
    outline: none;
}

/* Danger */
.btn.btn-danger {
    background-color: var(--colorDanger40);
    border-color: transparent;
    color: var(--textColorDanger40, #ffffff);
}

.btn.btn-danger.active,
.btn.btn-danger:active,
.btn.btn-danger:focus,
.btn.btn-danger:hover {
    color: var(--textColorDanger40, #ffffff);
    background-image: none;
    background-color: var(--colorDanger50, #343535);
    border-color: transparent;
    outline: none;
}

/* Info */
.btn.btn-info {
    background-color: var(--colorCalm40);
    border-color: transparent;
    color: var(--textColorCalm40, #ffffff);
}

.btn.btn-info.active,
.btn.btn-info:active,
.btn.btn-info:focus,
.btn.btn-info:hover {
    color: var(--textColorCalm40, #ffffff);
    background-image: none;
    background-color: var(--colorCalm50, #343535);
    border-color: transparent;
    outline: none;
}

/* Light */
.btn.btn-light {
    background-color: var(--colorLight40);
    border-color: transparent;
    color: var(--textColorLight40, #ffffff);
}

.btn.btn-light.active,
.btn.btn-light:active,
.btn.btn-light:focus,
.btn.btn-light:hover {
    color: var(--textColorLight40, #ffffff);
    background-image: none;
    background-color: var(--colorLight50, #343535);
    border-color: transparent;
    outline: none;
}

/* Link */
.btn.btn-link {
    background-image: none;
    background-color: transparent;
    border: none;
}

.btn.btn-link i,
.btn.btn-link span {
    color: var(--colorPrimary40, #3399f3);
}

.btn.btn-link.active,
.btn.btn-link:active {
    background-image: none;
    box-shadow: none;
    outline: none;
}

.btn.btn-link:focus,
.btn.btn-link:hover {
    text-decoration: underline;
    background-color: transparent;
}

.btn.btn-link:focus i,
.btn.btn-link:hover i {
    text-decoration: none;
}

/* Extra's button */
.k-button:focus,
.k-button:focus:hover {
    box-shadow: none;
}