.modal .modal-content .list-group-item {
    border: 0;
    padding: 10px 0;
}

.modal .modal-content .list-group-item {
    border: 0;
    padding: 10px 0;
}

.modal .modal-content .k-textbox {
    width: 100%;
}