.k-grid table .k-button {
    border-radius: var(--borderRadiusFull);
    min-width: auto;
    padding: 6px;
}

.k-grid table {
    color: var(--textColor70);
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-grid td.k-state-selected:hover,
.k-grid tr.k-state-selected:hover td {
    background-color: var(--colorDefault40);
}

.k-listbox .k-item,
.k-popup .k-list .k-item,
.k-grid .k-widget select,
.k-list>.k-state-hover,
.k-state-hover:hover,
.k-pager-sizes .k-dropdown-wrap .k-input,
.k-grid .k-widget {
    color: var(--textColor70);
}

.k-popup .k-list .k-state-focused {
    box-shadow: inset 0 0 2px 0 var(--colorDefault30), inset 0 0 7px 0 var(--colorDefault40);
}

.k-list .k-item.k-state-hover.k-state-selected,
.k-list .k-item:hover.k-state-selected,
.k-list-optionlabel:hover.k-state-selected {
    color: var(--colorDefault40);
    background-color: var(--colorDefault10);
}